@{
    ViewBag.Title = "You're Booked!";
}
@section PageSpecificScripts {
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#addCompanion").click(function () {
                if ($("#tblCompanionInfo").length > 0) {
                    var row_content = "";
                    var cntr = 0;
                    $('tr.trGuestEmail').each(function () {
                        $this = $(this);
                        var firstName = $.trim($this.find("input.firstName").val());
                        var lastName = $.trim($this.find("input.lastName").val());
                        var email = $.trim($this.find("input.guestEmail").val());
                        cntr = cntr + 1;
                        if (email.length != 0) {
                            if (email.length > 0 && !IsEmail(email)) {
                                $this.find("input.guestEmail").focus();
                                alert("E-mail address entered for Friend-" + cntr + " is invalid. Please check and enter a valid e-mail address!");
                                return;
                            }
                            row_content = row_content + firstName + "|" + lastName + "|" + email + ",";
                        }
                    });
                    if (row_content.length > 0) {
                        $.getJSON('@Url.Action("SaveGuestEmail", "Booking")', { companionInfo: row_content, eventId : @ViewBag.EventId, numOfTickets: @ViewBag.TotalTickets, seatingId: @ViewBag.SeatingId }, function (success) {
                            if (!success)
                                alert("Sorry! There was some problem sending e-mail. Please try again.");
                            else
                                alert("Invitation sent successfully.");
                        });
                    }
                    else {
                        alert("Please add an e-mail address for sending e-mail!");
                    }
                }
            });

            $("#addFriends").click(function () {
                $("#tblCompanionInfo tbody").append("<tr class=\"trGuestEmail\">" +
                            "<td><input type=\"text\" class=\"firstName\" name=\"fname\" style=\"width:120px;\" /></td>" +
                            "<td><input type=\"text\" class=\"lastName\" name=\"lname\" style=\"width:120px;\" /></td>" +
                            "<td><input type=\"text\" class=\"guestEmail\" name=\"email\" style=\"width:120px;\" /></td></tr>");

            });

            function IsEmail(email) {
                var regex = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                return regex.test(email);
            }
        });
      </script>
    }
    
<!--  Page Title -->
<div class="container pattern-design2">
    <div class="container">
        <p>@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() / @ViewBag.Title</p>
    </div>	
</div>
<!-- Page Title End -->
@if (ViewBag.Notification != null || TempData["Notification"] != null)
{
    SupperClub.Models.NotificationModel nModel = (ViewBag.Notification == null) ? (SupperClub.Models.NotificationModel)TempData["Notification"] : (SupperClub.Models.NotificationModel)ViewBag.Notification;
    TempData["Notification"] = null;
    @Html.Partial("_Notification", nModel);
}
@if (ViewBag.HideMainContainer == null || ViewBag.HideMainContainer == false)
{
    <!-- 960 Container Start -->
    <div class="container">
        <div class="sixteen columns">

            <div class="container sub-title2">
                <h2>You're on your way!</h2>
            </div>
            <p>You payment was successful and your seats have been booked! You'll recieve a confirmation email shortly, if you haven't already. Please check your SPAM folder just in case!
            We hope you enjoy your Grub Club experience!</p>

        </div>
        
        <div class="sixteen columns">

            <a href="@Url.Action("Index", "Search")" class="button medium green" style="float: right">
                Search for more Events!</a>

        </div>
        
        @if (ViewBag.TotalTickets > 1)
        {
            <div class="sixteen columns">
            <div class="container sub-title2">
                <h5>Would you like to send the e-mail confirmation to your friends coming along with you?</h5>
            </div>
            <table class="standard-table" id="tblCompanionInfo">			
                <tbody>
                    <tr>
			            <th>Friend's First Name</th>
                        <th>Friend's Last Name</th>
			            <th>Friend's E-mail</th>
		            </tr>
                    
                    @for (int i = 0; i < 3; i++)
                    {
		                <tr class="trGuestEmail">
                            <td><input type="text" class="firstName" name="fname" /></td>
                            <td><input type="text" class="lastName" name="lname" /></td>
                            <td><input type="text" class="guestEmail" name="email" /></td>
                        </tr>
                    }
               </tbody>
           </table>
           <br />
           @if (ViewBag.TotalTickets > 4)
           {
               <input type="button" id="addFriends" class="button medium green" value="Add More Friends" style="margin-left:10px;margin-top:10px;"/>               
           }
           <input type="button" id="addCompanion" class="button medium green" value="Send E-mail" style="margin-left:10px;margin-top:10px;"/>
           </div>
        }  
        
    </div>
    <!-- 960 Container End -->
    
    if (bool.Parse(System.Web.Configuration.WebConfigurationManager.AppSettings["UseGoogleAnalytics"]))
    {
    <!-- Google Code for Sales Conversion Page (must be within <body> tag) -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 996816009;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "HRh3CIfYpgQQiemo2wM";
    var google_conversion_value = @ViewBag.SaleValue;
    /* ]]> */
    </script>

    <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
    </script>
    
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="@("https://www.googleadservices.com/pagead/conversion/996816009/?value=" + ViewBag.SaleValue + "&amp;label=HRh3CIfYpgQQiemo2wM&amp;guid=ON&amp;script=0")"/>
        </div>
    </noscript>     
    
    <!-- Google Code for Google Analytics transaction tracking-->
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36514914-1']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_addTrans','@ViewBag.TransactionId','@ViewBag.Name','@ViewBag.SaleValue','','','','','']);
    _gaq.push(['_addItem', '@ViewBag.TransactionId', '@ViewBag.EventId', '@ViewBag.EventName', '', '@ViewBag.TicketUnitPrice', '@ViewBag.TotalTickets']);
    _gaq.push(['_trackTrans']);    
    </script>
    }
    
    
}