@model SupperClub.Models.BookingSuccessModel

@section PageSpecificScripts {
    <script type="text/javascript">
    function initialize_pageMap()
    {
        @Html.Raw(string.Format("var mapCenter = new google.maps.LatLng({0}, {1});", Model.BookingEvent.Latitude.ToString("F3"), Model.BookingEvent.Longitude.ToString("F3")))

        var mapOptions = {
            zoom: 13,
            maxZoom: 15,
            scrollwheel: true,
            zoomControl: true,
            streetViewControl: false,
            disableDefaultUI: false,
            panControl:true,
            center: mapCenter,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById('map-single-pin_page'), mapOptions);
        google.maps.event.addDomListener(window, 'load', initialize);
        var marker = new google.maps.Marker({
            map: map,
            @Html.Raw(string.Format("position : new google.maps.LatLng({0}, {1}),", Model.BookingEvent.Latitude.ToString("F3"), Model.BookingEvent.Longitude.ToString("F3")))
            title: ''
        });
        var circle = new google.maps.Circle({
            map: map,
            @Html.Raw(string.Format("radius: {0},", SupperClub.Code.ServerMethods.GoogleMapsCircleRadius))    // metres
            strokeWeight:1,
            strokeColor:'#AA0000',
            clickable: false,
            editable: false,
            fillColor: '#AA0000',
            fillOpacity: 0.2,
            strokeOpacity:0.1
        });
        circle.bindTo('center', marker, 'position');
        marker.setVisible(true);
    };
    function initialize()
    {
        @Html.Raw(string.Format("var mapCenter = new google.maps.LatLng({0}, {1});", Model.BookingEvent.Latitude.ToString("F3"), Model.BookingEvent.Longitude.ToString("F3")))

        var mapOptions = {
            zoom: 13,
            maxZoom: 15,
            scrollwheel: true,
            zoomControl: true,
            streetViewControl: false,
            disableDefaultUI: false,
            panControl:true,
            center: mapCenter,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById('map-single-pin'), mapOptions);
        google.maps.event.addDomListener(window, 'load', initialize);
        var marker = new google.maps.Marker({
            map: map,
            @Html.Raw(string.Format("position : new google.maps.LatLng({0}, {1}),", Model.BookingEvent.Latitude.ToString("F3"), Model.BookingEvent.Longitude.ToString("F3")))
            title: ''
        });
        var circle = new google.maps.Circle({
            map: map,
            @Html.Raw(string.Format("radius: {0},", SupperClub.Code.ServerMethods.GoogleMapsCircleRadius))    // metres
            strokeWeight:1,
            strokeColor:'#AA0000',
            clickable: false,
            editable: false,
            fillColor: '#AA0000',
            fillOpacity: 0.2,
            strokeOpacity:0.1
        });
        circle.bindTo('center', marker, 'position');
        marker.setVisible(true);
    };
    $(document).ready(function () {

        initialize_pageMap();
        $("#showMapLink").click(function () {
            initialize();

        });

        $("#btnSendEmail").click(function () {
            var emailIds = $("#txtFriendsEmail").val();
            var bookingModel=@Html.Raw(Json.Encode(Model.bookingModel));
            var _totalPrice = parseFloat(@Model.bookingModel.totalAfterDiscount).toFixed(2);
                if (emailIds != null || emailIds != "") {

                    var message = $("#txtMailMessage").val();

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("sendbookingtofriends", "booking")',
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify({ FriendsEmailId: emailIds, MailMessage: message, TotalPrice: _totalPrice, Booking:bookingModel, BookingReference:@ViewBag.BookingReference.ToString() }),
                    success: function (response) {
                        $("#txtFriendsEmail").val("");
                        $("#txtMailMessage").val("");
                        $(".message-popup-wraper .messages-popup").addClass("is-hidden"), $(".messages-popup--added").clone().appendTo(".message-popup-wraper").addClass("is-active").delay(3100).queue(function () { $(this).remove() }), $(".messages-popup").on("click", function () { $(this).addClass("is-hidden") });
                    },
                    error: function (response) {
                        alert("There was an error sending e-mail to your friend. Error code:" + response.status);
                    }
                });
            }
        });
    });



    </script>

    <!-- Facebook Conversion Code for Bookings -->
            <script>
                (function() {
                    var _fbq = window._fbq || (window._fbq = []);
                    if (!_fbq.loaded) {
                        var fbds = document.createElement('script');
                        fbds.async = true;
                        fbds.src = '//connect.facebook.net/en_US/fbds.js';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(fbds, s);
                        _fbq.loaded = true;
                    }
                })();
                window._fbq = window._fbq || [];
                window._fbq.push(['track', '6025249044298', {'value':'@ViewBag.SaleValue','currency':'GBP'}]);
            </script>
            <noscript>
                <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6025249044298&amp;cd[value]=@ViewBag.SaleValue&amp;cd[currency]=GBP&amp;noscript=1" />
            </noscript>

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '1121676821291536');
     fbq('track', 'PageView');
     bq('track', 'Purchase', {value: '@ViewBag.SaleValue', currency: 'GBP'});
    </script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=1121676821291536&ev=PageView&noscript=1" />
    </noscript>
<!-- End Facebook Pixel Code -->
       
    }


    @*<div class="container mb+">
        <ul class="breadcrumbs list-inline list-inline--delimited pt-- mb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Chefs </a></li>
            <li><a href="#">User Profile </a></li>
            <li class="current"><a href="#">Adam Walden</a></li>
        </ul>
    </div>*@
    <div class="container container--small">
        <h1 class="type-light text-center medium-and-up-ph mb">Congratulations! <br>@Model.BookingEvent.Name Supper Club has been booked!</h1>
        <h2 class="h5 mb" style="text-align:center;">Your booking confirmation e-mail is on its way to you now. Please check your Spam folder if it's not in your inbox.</h2>
    </div>
    <div class="container container--small large-and-up-ph++">
        <form action="" class="medium-and-up-ph+ mb+">
            <h2 class="h6 type-semibold mb-">Email the ticket shown below to your guests</h2>
            <input type="text" id="txtFriendsEmail" class="input--primary input--full type-semibold mb-" placeholder="Enter email addresses of your guests separated by commas">
            <textarea  id="txtMailMessage" class="input--primary input--textarea input--full input--h140 type-semibold mb-" placeholder="Send a message to your friends..."></textarea>
            <button  type="button" id="btnSendEmail" class="btn btn--primary btn--h55 btn--arrow type-huge">Email friends now!</button>
        </form>
    </div>
    <div class="container container--small mb+">
        <div class="confirmation-info p bgr-white">
            <div class="layout">
                <div class="layout__item large-and-up-1/2">
                    @Html.HiddenFor(m => m.bookingModel.totalAfterDiscount)
                    @Html.HiddenFor(m => m.bookingModel.totalDue)
                    <div class="mb">
                        <a class="site-logo " href="https://grubclub.com/">
                            <!-- <img alt="" src=""> -->
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="134px" height="36px" viewBox="0 0 134 36" enable-background="new 0 0 134 36" xml:space="preserve">
                            <path d="M79.872,28.815c2.885,0,6.993-1.365,9.461-4.733c0.061,3.04,1.797,4.357,4.016,4.357
        c1.509,0,4.053-0.479,6.114-3.366c0.384,2.34,1.973,3.366,3.936,3.366c1.581,0,3.688-0.489,5.57-3.573
        c0.264,2.369,1.581,3.573,3.728,3.573c1.523,0,3.903-0.492,5.882-3.454c0.49,2.177,2.211,3.454,5.109,3.454
        c7.979,0,10.313-8.313,10.313-12.715c0-4.777-1.807-6.432-4.441-6.432c-0.752,0-1.544,0.113-3.087,1.053l1.807-8.464l-5.57,0.752
        l-4.027,18.847h-0.001c-0.563,1.918-1.58,3.31-3.049,3.31c-1.053,0-1.542-0.339-1.542-1.392c0-0.376,0.037-0.789,0.15-1.204
        l2.709-12.789h-5.419l-2.561,12.075c-0.564,1.918-1.543,3.31-3.012,3.31c-0.864,0-1.128-0.677-1.128-1.542
        c0-0.338,0.038-0.678,0.112-1.054l2.71-12.789h-5.419L99.672,21.48h-0.001c-0.564,1.918-1.919,3.31-3.388,3.31
        c-1.053,0-1.543-0.339-1.543-1.392c0-0.376,0.038-0.789,0.15-1.204L99.22,1.881l-5.57,0.752L89.621,21.48
        c-0.009,0.043-0.012,0.078-0.021,0.121c-1.764,2.269-4.302,3.603-7.206,3.603c-3.651,0-4.517-2.407-4.517-5.868
        c0-7.674,3.651-17.567,7.829-17.567c1.693,0,2.296,1.091,2.296,2.294c0,1.467-0.828,3.009-1.732,3.46
        c0.717,0.865,1.544,0.978,2.146,0.978c1.921,0,2.636-1.467,2.636-3.46C91.052,1.43,88.267,0,84.766,0
        c-9.861, 0-13.137,12.752-13.137,19.561C71.629,26.332,74.303,28.815,79.872,28.815z M123.913,22.194l2.07-9.554
        c0.413-0.527,1.693-0.677,2.22-0.677c1.355,0,1.996,1.768,1.996,3.611c0,3.95-1.958,9.216-4.404,9.216
        c-1.317,0-1.995-0.563-1.995-1.73C123.8,22.796,123.838,22.495,123.913,22.194z M25.031,28.212l3.011-14.294
        c0.941-0.865,1.581-1.43,2.749-1.43c1.091,0,0.075,2.483,2.183,2.483c1.807,0,2.71-1.429,2.71-2.746
        c0-1.467-0.903-2.821-2.598-2.821c-1.807,0-3.237,1.166-4.554,2.332l0.489-2.332h-5.42l-3.99,18.808H25.031z M14.98,12.452
        l-1.619,7.147c-0.79,1.053-1.807,1.391-3.199,1.391c-3.124,0-4.366-2.896-4.366-6.206c0-6.019,4.216-13.015,8.356-13.015
        c2.409,0,2.597,2.069,2.597,2.67c0,0.94-0.753,2.784-1.657,3.084c0.716,0.79,1.995,0.978,2.598,0.978c1.92,0,2.635-1.467,2.635-3.46
        c0-3.611-3.5-5.041-7.001-5.041C4.931,0,0,7.298,0,14.483c0,5.229,1.919,9.63,8.092,9.63c0.301,0,2.409-0.15,4.592-1.354
        l-1.505,6.733c-0.903,3.913-2.033,4.627-3.764,4.627c-1.619,0-2.372-1.241-2.372-2.558c0-1.393,0.866-2.858,2.635-2.858
        c0.753,0,1.317,0.188,2.258,0.978c0.151-0.564,0.226-1.053,0.226-1.505c0-2.407-2.183-2.521-3.688-2.521
        c-2.974,0-4.592,2.596-4.592,5.154c0,2.558,1.656,5.19,5.232,5.19c6.173,0,8.431-3.611,9.636-9.366l3.086-14.145L14.98,12.452z
         M34.892,23.925c0,3.159,1.77,4.514,4.028,4.514c1.581,0,3.689-0.489,5.571-3.573c0.263,2.369,1.581,3.573,3.726,3.573
        c1.524,0,3.904-0.492,5.883-3.455c0.49,2.178,2.21,3.455,5.108,3.455c7.98,0,10.314-8.313,10.314-12.715
        c0-4.777-1.808-6.432-4.441-6.432c-0.754,0-1.544,0.113-3.087,1.053l1.807-8.464l-5.571,0.752L54.202,21.48h0
        c-0.564,1.918-1.581,3.31-3.048,3.31c-1.054,0-1.543-0.339-1.543-1.392c0-0.376,0.038-0.789,0.15-1.204l2.711-12.789h-5.42
        l-2.56,12.075c-0.565,1.918-1.543,3.31-3.012,3.31c-0.866,0-1.129-0.677-1.129-1.542c0-0.338,0.038-0.678,0.113-1.054l2.71-12.789
        h-5.42L35.194,21.48C35.006,22.42,34.892,23.248,34.892,23.925z M59.435,22.194l2.07-9.554c0.414-0.527,1.693-0.677,2.221-0.677
        c1.355,0,1.994,1.768,1.994,3.611c0,3.95-1.957,9.216-4.404,9.216c-1.316,0-1.995-0.563-1.995-1.73
        C59.321,22.796,59.359,22.495,59.435,22.194z M18,35h113v-2H18.441L18,35z" />
    </svg>
                        </a>
                    </div>
                    
                    <div class="flag flag--top mb-">
                        <div class="flag__img">
                            <div class="display-block width-20">
                                <img class="icon icon--20x20" src="@Url.Content("~/Content/images/icons/ticket.jpg")" />
                            </div>
                        </div>
                        <div class="flag__body">
                            <p class="type-small opacity-7">
                                Want to see the event you just booked? View Event Details <a href="@SupperClub.Code.ServerMethods.ServerUrl@Model.BookingEvent.SupperClub.UrlFriendlyName/@Model.BookingEvent.UrlFriendlyName/@Model.BookingEvent.Id.ToString()" style="color: #ff7400;">Here</a>
                                <br />
                                Want to see what else do we offer? <a href="/pop-up-restaurants" style="color: #ff7400;"> Click Here</a>
                                </p>
</div>
                    </div>
                    
                    <div class="flag flag--top mb-">
                            <div class="flag__img">
                                <div class="display-block width-20">                                    
                                    <svg role="img" class="icon icon--20x20">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-large_clock"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="flag__body">
                    @if (@Model.bookingModel.seatingId > 0)
                    { 
                        <p class="type-small opacity-7">@Model.BookingEvent.Start.ToString("ddd, d MMM yyyy") from <br> 
                        @ViewBag.StartTime - @ViewBag.EndTime </p>
                          // var startDate =  ViewBag.CalStartDate + "T" + ViewBag.CalStartTime + "Z";
                          //  var endDate = ViewBag.CalEndDate + "T" + ViewBag.CalEndTime + "Z";
                            var ename=SupperClub.Web.Helpers.Utils.HTMLEncodeSpecialChars(Model.BookingEvent.Name);
                  

                    <a href="https://www.google.com/calendar/event?action=TEMPLATE&text=@ename&dates=@ViewBag.CalStart/@ViewBag.CalEnd&details=For+details,+please+visit+@SupperClub.Code.ServerMethods.ServerUrl@Model.BookingEvent.SupperClub.UrlFriendlyName/@Model.BookingEvent.UrlFriendlyName/&location=@Model.BookingEvent.Address,@Model.BookingEvent.Address2,@Model.BookingEvent.City,@Model.BookingEvent.PostCode&trp=false&sprop=&sprop=name:" target="_blank" rel="nofollow" style="color: #ff7400; text-decoration:none;">Add to my calendar</a>

                    }
                    else
                    { 
                        <p class="type-small opacity-7">@Model.BookingEvent.Start.ToString("ddd, d MMM yyyy") from <br> 
                        @Model.BookingEvent.Start.ToShortTimeString() - @Model.BookingEvent.End.ToShortTimeString() </p>

                         var startDate = Model.BookingEvent.Start.ToString("yyyyMMdd") + "T" + Model.BookingEvent.Start.ToUniversalTime().ToString("HHmmss") + "Z";
                            var endDate = Model.BookingEvent.End.ToString("yyyyMMdd") + "T" + Model.BookingEvent.End.ToUniversalTime().ToString("HHmmss") + "Z";
                            var ename=SupperClub.Web.Helpers.Utils.HTMLEncodeSpecialChars(Model.BookingEvent.Name);
                            <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=@ename&dates=@startDate/@endDate&details=For+details,+please+visit+@SupperClub.Code.ServerMethods.ServerUrl@Model.BookingEvent.SupperClub.UrlFriendlyName/@Model.BookingEvent.UrlFriendlyName&location=@Model.BookingEvent.Address,@Model.BookingEvent.Address2,@Model.BookingEvent.City,@Model.BookingEvent.PostCode&trp=false&sprop=&sprop=name:" target="_blank" rel="nofollow" style="color: #ff7400; text-decoration:none;">Add to my calendar</a>
                    }                  

                         
                    @*<p class="type-small opacity-7">Wednesday,  17 September 2014 from <br>10:30 - 15:30</p>*@
                </div>
            </div>
            <div class="flag flag--top mb-">
                <div class="flag__img">
                    <div class="display-block width-20">
                        <svg role="img" class="icon icon--14x23">
                            <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-smallest_pin"></use>
                        </svg>
                    </div>
                </div>
                <div class="flag__body">
                    <p class="type-small opacity-7">@Model.BookingEvent.Address <br>
                     @if( Model.BookingEvent.Address2 != null)
                     {
                          @Model.BookingEvent.Address2 <br/>
                     }
                        @Model.BookingEvent.City <br>@Model.BookingEvent.PostCode </p>
                </div>
            </div>
            <div class="flag flag--top mb-">
                <div class="flag__img">
                    <div class="display-block width-20">
                        <svg role="img" class="icon icon--17x17">
                            <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-user"></use>
                        </svg>
                    </div>
                </div>
                <div class="flag__body">
                    <p class="type-small opacity-7">Booking for @Model.bookingModel.numberOfTickets  people</p>
                </div>
            </div>
            @if (@Model.bookingModel.bookingMenuModel != null)
{
    <div class="flag flag--top mb-">
        <div class="flag__img">
            <div class="display-block width-20">
                <svg role="img" class="icon icon--19x19">
                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-book"></use>
                </svg>
            </div>
        </div>
        <div class="flag__body">
            <p class="type-small opacity-7">
                @foreach (var menu in Model.bookingModel.bookingMenuModel)
                {
                    <span> @menu.numberOfTickets</span>   <span> @menu.menuTitle </span><br />
                }
            </p>
        </div>

    </div>
}
            @if(@Model.BookingEvent.Alcohol)
            {
            <div class="flag flag--top mb-">
                <div class="flag__img">
                    <div class="display-block width-20">
                        <svg role="img" class="icon icon--14x27">
                            <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-medium_botles"></use>
                        </svg>
                    </div>
                </div>
                <div class="flag__body">
                    <p class="type-small opacity-7">Bring your own bottle</p>
                </div>
            </div>
            }
            <p class="type-small opacity-7 mb--">Any questions? See our FAQs <a href="@Url.Content("/faqs")" target="_blank" style="color: #ff7400; text-decoration:none;">here</a></p>
            <form action="">
                <p class="type-small opacity-7 mb--">Your message to the chef:</p>
                <p class="type-small opacity-7">@ViewBag.BookingRequirements </p>
                <button class="hidden"></button>
            </form>
            </p>
        </div>
        <div class="layout__item large-and-up-1/2">
            <div id="map-single-pin_page" class="map--single-pin map--height-160 mb--"></div>
            <p class="type-small opacity-7 mb- pb--"><a id="showMapLink" href="#map-single-pin-wrap" class="type-small color-gray open-popup">View on Maps</a></p>
            <div class="barcode">
                <img src="@Url.Content("~/Content/images/")barcode.png" alt="" class="full-width">
                <div class="barcode__text">
                    Order number: <span class='barcode__number ml--'>
                        @Html.Raw(ViewBag.BookingReference.ToString())
                    </span>
                </div>
            </div>
        </div>
    </div>
  

    <div class="container text-center">
        <h2 class="h5 type-bold mb">Tell Your Friends</h2>
        <div class="social-large mb+">
            <div class="social-large__item">
                <a href="http://www.twitter.com/intent/tweet?url=@ViewBag.EventURL&text=@ViewBag.TwitterText" class="display-block bgr-twitter mb-" target="_blank">
                    <div class="tableize tableize--middle tableize--full">
                        <div class="tableize__cell">
                            <div>

                                <svg role="img" class="icon icon--44x35">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-twitter"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
                <p class="type-semibold type-small">Twitter</p>
            </div>
            <div class="social-large__item">
                <a href="http://www.facebook.com/sharer/sharer.php?u=@ViewBag.EventURL" class="display-block bgr-facebook mb-" target="_blank">
                    <div class="tableize tableize--middle tableize--full">
                        <div class="tableize__cell">
                            <div>

                                <svg role="img" class="icon icon--26x45">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-facebook"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
                <p class="type-semibold type-small">Facebook</p>
            </div>
            <br/>
            <p class="type-small opacity-7 mb--">Still Hungry? Search<a href="@Url.Content("/pop-up-restaurants")" target="_blank" style="color: #ff7400; text-decoration:none;"> more Grub Clubs</a></p>
            @*<div class="social-large__item">
                <a href="@ViewBag.EventURL" class="display-block bgr-gray-dark mb-">
                    <div class="tableize tableize--middle tableize--full">
                        <div class="tableize__cell">
                            <div>

                                <svg role="img" class="icon icon--42x30">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-mail-large"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
                <p class="type-semibold type-small">Email</p>
            </div>
            <div class="social-large__item">
                <a href="" class="display-block bgr-gray-dark mb-">
                    <div class="tableize tableize--middle tableize--full">
                        <div class="tableize__cell">
                            <div>

                                <svg role="img" class="icon icon--50x25">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-chain"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
                <p class="type-semibold type-small">Copy link</p>
            </div>*@
        </div>
    </div>

<div id="map-single-pin-wrap" class="map--single-pin-wrap mfp-hide magnific-content">
    <div id="map-single-pin" class="map--single-pin map--popup"></div>
    <button title="Close (Esc)" type="button" class="mfp-close">
        <span>
            <svg role="img" class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/content/images/icons/icons.svg#icon-X-close"></use>
            </svg>
        </span>
    </button>
</div>
 <div class="message-popup-wraper text-center"></div>
    <span class="messages-popup messages-popup--added">
        Your Message has been sent
    </span>

            
                    @if (bool.Parse(System.Web.Configuration.WebConfigurationManager.AppSettings["UseGoogleAnalytics"])) { <!-- Google Code for Sales Conversion Page (must be within <body> tag) -->
    @*<script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 996816009;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "HRh3CIfYpgQQiemo2wM";
            var google_conversion_value = @ViewBag.SaleValue;
            /* ]]> */
        </script>

        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;" alt="" src="@("//www.googleadservices.com/pagead/conversion/996816009/?value=" + ViewBag.SaleValue + "&amp;label=HRh3CIfYpgQQiemo2wM&amp;guid=ON&amp;script=0")" />
            </div>
        </noscript>*@


     <!-- Conversion Pixel - Grub Club WebAds bookings - DO NOT MODIFY -->
    <img src="https://secure.adnxs.com/px?id=513865&t=2" width="1" height="1" />
    <!-- End of Conversion Pixel -->

     <!-- Google Code for Bookings Conversion Page -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 958513555;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "jb_UCN6x51oQk4OHyQM";
        var google_remarketing_only = false;
        var google_conversion_value = @ViewBag.SaleValue;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/958513555/?label=jb_UCN6x51oQk4OHyQM&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>


 }
@if (bool.Parse(System.Web.Configuration.WebConfigurationManager.AppSettings["UseMentionMeReferrer"]))
{                
    <script src="https://tag.mention-me.com/api/v2/referreroffer/mm11fc0d93?implementation=popup&email=@ViewBag.Email&order_number=@ViewBag.OrderId&order_total=@ViewBag.SaleValue&order_currency=gbp&situation=postpurchase&surname=@ViewBag.LastName&firstname=@ViewBag.FirstName&locale=en_gb" type="text/javascript"></script>
}