@model SupperClub.Domain.Review

@section PageSpecificScripts {
    <script src="@Url.Content("~/Scripts/old/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/old/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/star-rating.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bootstrap.min.css")" />
    <script src="@Url.Content("~/Scripts/star-rating.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/home/bootstrap.min.js")" type="text/javascript"></script>
    <script type="text/javascript">

    $(document).ready(function () {
        $('#overallRating').rating('update', '@Model.Rating');
        $('#food_Rating').rating('update', '@Model.FoodRating');
        $('#ambience_Rating').rating('update', '@Model.AmbienceRating');
        $('#Public_Review').val("@Model.PublicReview");
        $('#Private_Review').val("@Model.PrivateReview");
        $(".rating").rating();
        $('#Guest_Name').val("@Model.GuestName");

        $("input.required").closest(".form-group").find("label").append("<i style='color: Red;float:right'> *</i> ");
        //some rough-and-ready required fields feedback for the user, since the star plugin's implementation doesn't play nice with jquery validate
        // not needed unless the built in polyfill fails or the showclear button is visible (and that's deliberately hidden for now).
        $('.rating').on('rating.change', function (event, value, caption) {
            if (value > 0) {
                $(this).closest('.form-group').removeClass('text-warning');
            } else {
                $(this).closest('.form-group').addClass('text-warning');
            }
        });
        $("#ReviewForm").validate();
        $('#ReviewForm').submit(function (event) {
            check = false;
            $(':input[type="number"]').each(function () {
                if ($(this).val() == 0) {
                    check = true;
                    $(this).closest('.form-group').addClass('text-warning');
                };
            });

            if ("@Model.UserId".length == 0) {
                var gn = $('#Guest_Name').val();
                if (!gn || gn.length <= 0) {
                    check = true;
                    $("#Guest_Name").focus();
                    alert("Please enter your name!");
                }
            }
            if (check || !($("#ReviewForm").valid())) {
                $('html, body').animate({ scrollTop: $('#starsTop').offset().top - 20 }, 800);
                // don't submit if the check is true or validation returns false is true, because the form isn't valid
                //alert("validation failed");
                event.preventDefault();
            } else {
                //alert("Validation passed: submitting and redirecting you now...");
                // not sure how you want to handle this Swati (keep simple post or change to ajax), so I included the below for convenience.

                $('#Rating').val($('#overallRating').val());
                $('#FoodRating').val($('#food_Rating').val());
                $('#AmbienceRating').val($('#ambience_Rating').val());
                $('#PublicReview').val($('#Public_Review').val());
                $('#PrivateReview').val($('#Private_Review').val());
                $('#GuestName').val($('#Guest_Name').val());               
            }
        });



        @*function reviewAjax() {
            var overallRating = $('#overallRating').val();
            var foodRating = $('#foodRating').val();
            var ambienceRating = $('#ambienceRating').val();
            var publicReview = $('#publicReview').val();
            var privateReview = $('#privateReview').val();
            alert("the form validated");
            $.ajax({
                type: 'POST',
                // action and url need to be added
                url: '@Url.Action("","")',
                data: {},
                cache: false,
                dataType: 'json text',
                traditional: true,
                success: function (result) {
                    if (result) {
                        form[0].reset();
                        validator.resetForm();
                        // do something here to provide feedback? Maybe an alert or a modal
                        return true;
                    }
                    else
                        alert('Sorry, there was an error submitting your request. Please try again!');
                },
                error: function (result) {
                    window.alert('Sorry, there was an error submitting your request. Please try again!');
                }
            });
        }*@
    });

</script>
    <style>
        .small-slider {
            width: 100%;
        }

        .row {
            border-bottom: none;
        }

        .form-group label {
            margin-top: 20px;
            font-weight: normal;
            font-size: 16px;
        }

        .label-danger {
            background-color: #E1F5C4;
        }

        .label-warning {
            background-color: #EDE574;
        }

        .label-info {
            background-color: #F9D423;
        }

        .label-primary {
            background-color: #FC913A;
        }

        .label-success {
            background-color: #FF4E50;
        }

        .center-block {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        button {
            margin-top: 20px !important;
        }

        .form-group {
            border-bottom: 1px solid #eee;
        }

        .text-warning {
            border: 1px solid #ff0000;
            border-radius: 5px;
            padding: 10px;
        }

            .text-warning::after {
                content: "This rating is required! Click on a star to choose it's value";
                color: #ff0000;
            }

        h3 {
            color: #ff6700 !important;
            font-family: 'Lobster 1.3';
        }

        .rating-container .rating-stars {
            color: #ff7400 !important;
        }

        .row a:hover {
            text-decoration: underline !important;
        }

        #hostedby {
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 20px;
            margin-left: 0px;
            margin-right: 0px;
            border-bottom: 1px solid #eee;
            border-top: 1px solid #eee;
        }

            #hostedby h3 {
                margin-top: 10px;
            }
    </style>
}
<!--  Page Title -->
<div class="pattern-design2 pattern-photo">
    <div class="sub-title-pattern">
        <div class="h2-position">
            <h2>Tell us about your event</h2>
        </div>
    </div>
</div>
<!-- Page Title End -->
@if (ViewBag.Notification != null || TempData["Notification"] != null)
{
    SupperClub.Models.NotificationModel nModel = (ViewBag.Notification == null) ? (SupperClub.Models.NotificationModel)TempData["Notification"] : (SupperClub.Models.NotificationModel)ViewBag.Notification;
    TempData["Notification"] = null;
    @Html.Partial("_Notification", nModel);
}
@if (ViewBag.HideMainContainer == null || ViewBag.HideMainContainer == false)
{

    <div class="container sub-title2">
        <div class="row">
            <div class="col-sm-12"><h2 style="margin:10px 0px 0px 10px !important;">@Model.Event.Name</h2></div>
        </div>
    </div>


    <div class="container">
        @using (Html.BeginForm(((string)ViewBag.Title).Replace(" ", ""), "Event", FormMethod.Post, new { id = "ReviewForm", style = "margin-bottom: 0px;", enctype = "multipart/form-data" }))
        {
            <div class="col-sm-4">
                <div class="small-slider slider">
                    <div class="item-img">
                        <a href="@Url.Content(SupperClub.Code.ServerMethods.EventImagePath + Model.Event.ImagePath)" rel="imagebox" title="@Model.Event.Name">
                            <img src="@Url.Content(SupperClub.Code.ServerMethods.EventImagePath + Model.Event.ImagePath)" alt="@Model.Event.Name | Grubclub" />
                            <div class="overlay zoom">
                            </div>
                        </a>
                    </div>

                    <p></p>

                    <div class="details-timings-container timings-info">
                        <h6 style="display: inline;">DATE: </h6> @Model.Event.Start.ToString("ddd, d MMM yyyy")
                        <br />
                        <h6 style="display: inline;">TIME: </h6>@(Model.Event.Start.ToShortTimeString() + " - " + Model.Event.End.ToShortTimeString())
                        <br />
                        <h6 style="display: inline;">SEATS: </h6>@Model.Event.Guests
                    </div>
                    <p></p>

                    <!-- Ranking Section for guests to provide a ranking
                    <br />
                    <h5 style="text-align:center">RATE THIS EVENT</h5>
                    @@Html.HiddenFor(m => m.Rating)
                    @@Html.Partial("DisplayTemplates/Ranking", new SupperClub.Models.RankingModel(Model.Id, true, Model.Rating, Model.Event.NumberGuestRanks))
                         -->
                </div>
                <div class="portfolio-item-meta">
                    <div class="row">
                        <div class="col-xs-12">
                            <h5>Description</h5>
                            <div class="display field">
                                <p>
                                    @Html.Raw("<p><span itemprop=\"description\">" + @Model.Event.Description.Replace("\r\n", "<br />").Replace("\n", "<br />") + "</span></p>")
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Hosted By Section -->
                    @*<div class="hosted-by">
                            <div class="row" style="margin-bottom:0px;">
                                <div class="col-xs-12"><h5>Hosted By</h5></div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4">

                                        <a href="@(SupperClub.Code.ServerMethods.ServerUrl + Model.Event.SupperClub.UrlFriendlyName)">
                                            <img style="width: 100%; height:auto" src="@Url.Content(SupperClub.Code.ServerMethods.SupperClubImagePath + Model.Event.SupperClub.ImagePath)" alt="@Model.Event.SupperClub.Name | GrubClub" />
                                        </a>

                                </div>

                                <div class="col-xs-8">

                                        <a href="@(SupperClub.Code.ServerMethods.ServerUrl + Model.Event.SupperClub.UrlFriendlyName)" style="color: #3F8FAF">@Model.Event.SupperClub.Name</a>
                                        <div>
                                            @if (Model.Event.SupperClub.Summary.Length > 75)
                                            {
                                                @(Model.Event.SupperClub.Summary.Substring(0, 75) + "...")
                                            }
                                            else
                                            {
                                                @Model.Event.SupperClub.Summary
                                            }
                                        </div>

                                </div>
                            </div>
                        </div>*@

                </div>
            </div>

            <div class="col-sm-8 event-info">
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.EventId)
                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.DateCreated)
                @Html.HiddenFor(m => m.Publish)
                @Html.HiddenFor(m => m.Rating)
                @Html.HiddenFor(m => m.FoodRating)
                @Html.HiddenFor(m => m.AmbienceRating)
                @Html.HiddenFor(m => m.PublicReview)
                @Html.HiddenFor(m => m.PrivateReview)
                @Html.HiddenFor(m => m.Email)
                @Html.HiddenFor(m => m.AdminResponse)
                @Html.HiddenFor(m => m.AdminResponseDate)
                @Html.HiddenFor(m => m.HostResponse)
                @Html.HiddenFor(m => m.HostResponseDate)

                <div style="display:none">
                    @Html.ValidationSummary()
                </div>
                
                <div class="row" id="hostedby">
                    <div style="float:left">
                        <a href="@(SupperClub.Code.ServerMethods.ServerUrl + Model.Event.SupperClub.UrlFriendlyName)">
                            <img style="width: 50px; height:auto" src="@Url.Content(SupperClub.Code.ServerMethods.SupperClubImagePath + Model.Event.SupperClub.ImagePath)" alt="@Model.Event.SupperClub.Name | GrubClub" />
                        </a>
                    </div>
                    <div style="float:left;margin-left:30px">
                        <h3 style="margin:0px 0px 0px 0px !important; font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;">
                            <span style="color: #700">Hosted By</span> <br />
                            <a href="@(SupperClub.Code.ServerMethods.ServerUrl + Model.Event.SupperClub.UrlFriendlyName)">@Model.Event.SupperClub.Name</a>
                        </h3>
                    </div>

                </div>

                @if(Model.UserId == null)
                {
                    <div class="form-group" id="divGuestName">
                        <div class="col-sm-12">
                            <label>Your Name:</label>
                        </div>
                        <div class="col-sm-12">
                            <input type="text" required id="Guest_Name" name="GuestName" class="required" />
                        </div>
                    </div>
                }
                <div class="form-group" id="starsTop">
                    <div class="col-sm-3">
                        <label>Overall rating:</label>
                    </div>
                    <input type="number" required id="overallRating" name="overallRating" data-show-caption="false" data-show-clear="false" class="rating required" step="1" />
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label>Food:</label>
                    </div>
                    <input type="number" required id="food_Rating" name="foodRating" data-show-caption="false" data-show-clear="false" class="rating required" step="1" />
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label>Ambience:</label>
                    </div>
                    <input type="number" required id="ambience_Rating" name="ambienceRating" data-show-caption="false" data-show-clear="false" class="rating required" step="1" />
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="Public_Review">Comments:</label>
                    </div>
                    <div class="col-sm-12">
                        <textarea class="form-control" name="PublicReview" id="Public_Review" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="Private_Review">Private comments (These comments will not be made public):</label>
                    </div>
                    <div class="col-sm-12"><textarea class="form-control" name="PrivateReview" id="Private_Review" rows="3" placeholder="Let the GrubClub team know what we can do to improve the experience!"></textarea></div>
                </div>
                <button type="submit" id="submitbtn" class="btn btn-lg btn-primary center-block">Submit Review</button>

            </div>

        }
    </div>
}