@model SupperClub.Models.MasterEventModel
@{
    ViewBag.Title = Model.MasterEvent.Name + " | Eat Out with Grub Club";
    ViewBag.Description = Model.MasterEvent.EventDescription == null ? "" : (Model.MasterEvent.EventDescription.Length > 120 ? Model.MasterEvent.EventDescription.Substring(0, 120) : Model.MasterEvent.EventDescription);
   
}
@section PageSpecificScripts {
    <!-- Meta Properties used for Sharing with OG -->
    <meta property="og:title" content="@Model.MasterEvent.Name" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:image" content="@(Request.Url.GetLeftPart(System.UriPartial.Authority) + Url.Content(SupperClub.Code.ServerMethods.EventImagePath + Model.MasterEvent.ImagePath))" />
    <meta property="og:description" content="@Model.MasterEvent.NonHtmlDescription" />
    <meta property="og:site_name" content="GrubClub" />
    <meta property="og:email" content="eat@grubclub.com" />
<script src="@Url.Content("~/Scripts/jquery.tmpl.js")" type="text/javascript"></script>

      <style>
          .hidden {
              display: none;
          }
          
          .shown {
              display: block;
          }

          .overlayNew {
              height: 100%;
              left: 0;
              position: absolute;
              top: 0px;
              width: 100%;
              z-index: 10000;
              opacity: 0;
              -moz-opacity: 0;
              filter: alpha(opacity=0);
              -webkit-transition: opacity 180ms ease-in-out;
              -moz-transition: opacity 180ms ease-in-out;
              -o-transition: opacity 180ms ease-in-out;
              transition: opacity 180ms ease-in-out;
          }

              .overlayNew.zoom {
                  background: url(../content/images/overlay.png) no-repeat center center, url(../content/images/overlay_bg.png) center center;
              }
      </style>

        
    <script type="text/javascript">
    var pageSize = 4;
    var isInt = false;
    var reviews;
    var reviewspageNumber = 1;
    var reviewsCount = 0;

    function showFullDescription(){
        $("#short_description").addClass('hidden');
        $("#full_description").removeClass('hidden');
        $("#show_more").addClass('hidden');
    };
    function IsEmail(email) {
        var regex1 = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex1.test(email);
    };
    function _followChef(){
        $.ajax({
            type: "POST",
            url: '@Url.Action("FollowChef", "Host")',
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({supperClubId: @Model.MasterEvent.SupperClubId}),
            success: function(response) {
                alert(response.message);
            },
            error: function(response) {
                alert(response.status);
            }
        });
    }
    function _unfollowChef(){
        $.ajax({
            type: "POST",
            url: '@Url.Action("UnfollowChef", "Host")',
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({supperClubId: @Model.MasterEvent.SupperClubId}),
            success: function(response) {
                alert(response.message);
            },
            error: function(response) {
                alert(response.status);
            }
        });
    }
    function _addWishList(eventId)
    {
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddEventToFavourite", "Event")',
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({eventId: eventId}),
            success: function(response) {
                if(response.success)
                {
                    //$(this).parent().parent().addClass('is-active');
                    //$(this).parent().hasClass("is-active") ?
                    $(".message-popup-wraper .messages-popup").addClass("is-hidden"),
                    $(".messages-popup--added").clone().appendTo(".message-popup-wraper").addClass("is-active").delay(3100).queue(function () { $(this).remove() }),
                    $(".messages-popup").on("click", function () { $(this).addClass("is-hidden") });

                }
            },
            error: function(response) {
                alert(response.status);
            }
        });

    }
    function _removeWishList(eventId)
    {
        $.ajax({
            type: "POST",
            url: '@Url.Action("RemoveEventFromFavourite", "Event")',
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({eventId: eventId}),
            success: function(response) {
                if(response.success)
                {
                    //$(".message-popup-wraper .messages-popup").addClass("is-hidden"),
                    $(".messages-popup--removed").clone().appendTo(".message-popup-wraper").addClass("is-active").delay(3100).queue(function () {
                        $(this).remove()
                    }),
                    $(".messages-popup").on("click", function () { $(this).addClass("is-hidden") });
                }
            },
            error: function(response) {
                alert(response.status);
            }
        });
    }
    function _addWS(eventId)
    {
        _addWishList(eventId);
        $("#divRmWs_"+ eventId.toString()).removeClass('hidden');
        $("#divAddWs_" + eventId.toString()).addClass('hidden');
        return false;
    }
    function _adWishList(eventId)
    {
        _addWishList(eventId);
        $(".imgSldrRmWs").removeClass('hidden');
        $(".imgSldrAddWs").addClass('hidden');
        return false;
    }
    function _removeWS(eventId)
    {
        _removeWishList(eventId);
        $("#divRmWs_"+ eventId.toString()).addClass('hidden');
        $("#divAddWs_" + eventId.toString()).removeClass('hidden');
        return false;
    }
    function _rmWishList(eventId)
    {
        _removeWishList(eventId);
        $(".imgSldrRmWs").addClass('hidden');
        $(".imgSldrAddWs").removeClass('hidden');
        return false;
    }

    function initialize()
    {
        @Html.Raw(string.Format("var mapCenter = new google.maps.LatLng({0}, {1});", Model.MasterEvent.Latitude.ToString("F3"), Model.MasterEvent.Longitude.ToString("F3")))

        var mapOptions = {
            zoom: 13,
            maxZoom: 15,
            scrollwheel: true,
            zoomControl: true,
            streetViewControl: false,
            disableDefaultUI: false,
            panControl:true,
            center: mapCenter,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById('map-single-pin'), mapOptions);
        google.maps.event.addDomListener(window, 'load', initialize);
        var marker = new google.maps.Marker({
            map: map,
            @Html.Raw(string.Format("position : new google.maps.LatLng({0}, {1}),", Model.MasterEvent.Latitude.ToString("F3"), Model.MasterEvent.Longitude.ToString("F3")))
            title: ''
        });
        var circle = new google.maps.Circle({
            map: map,
            @Html.Raw(string.Format("radius: {0},", SupperClub.Code.ServerMethods.GoogleMapsCircleRadius))    // metres
            strokeWeight:1,
            strokeColor:'#AA0000',
            clickable: false,
            editable: false,
            fillColor: '#AA0000',
            fillOpacity: 0.2,
            strokeOpacity:0.1
        });
        circle.bindTo('center', marker, 'position');
        marker.setVisible(true);
    };


    $(document).ready(function () {
        var _iEventId = parseInt(@Model.MasterEvent.Id);
        var _iSupperClubId = parseInt(@Model.MasterEvent.SupperClubId);
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadReviews", "Event")',
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({eventId:_iEventId, supperClubId: _iSupperClubId}),
            success: function (response) {
                //debugger;
                if(response != null && response.reviews !=null)
                {
                    reviews = response.reviews;
                    reviewsCount = response.reviews.length;
                    renderResults(reviews);
                }
            },
            error: function(response) {

            }
        });
        $("#btnReviewLoadMore").click(function () {
            renderPagedResults($("#DivReviews"), reviewspageNumber, reviews);
        });
        function renderResults(result) {
            reviewspageNumber = 1;
            var _rev = $("#DivReviews");

            if (reviews.length > 0) {
                renderPagedResults(_rev, reviewspageNumber, reviews);
            }
            else
            {
                _rev.append("<p>No Reviews yet</p>");
            }
        }

        function renderPagedResults(divResult, pageNumber, results) {
            //debugger;
            var currPage = pageNumber;
            var startIndex = (currPage - 1) * pageSize;
            var targetNum = (currPage) * pageSize;
            var toBeRenderedresult = [];
            for (var i = startIndex; i < targetNum && i < results.length; i++) {
                toBeRenderedresult.push(results[i]);
            }
            //debugger;
            $('#ReviewTemplate').tmpl(toBeRenderedresult).appendTo(divResult);
            showLoadMore($("#btnReviewsLoadMorediv"), results.length, reviewspageNumber)
            ++reviewspageNumber;
        }
        function showLoadMore(loadmorediv, resultcount, currentPageNumber ) {
            //debugger;
            var count = resultcount;
            var page = currentPageNumber;

            if (count > page * pageSize) {
                loadmorediv.css("display", "block");
            }
            else {
                loadmorediv.css("display", "none");
            }
        }
        var hash = window.location.hash;
        if (hash.toLowerCase() == "#reviews") {
            $("#tabReviews").click();            
        }
        if (hash.toLowerCase() == "#details") {
            $("#tabDetails").click();}
        if (hash.toLowerCase() == "#chef") {
            $("#tabChef").click();}
        if (hash.toLowerCase() == "#menu") {
            $("#tabMenu").click();}

        $("#showMapLink").click(function () {
            initialize();
            //$("#map-canvas").addClass('type-small color-gray open-popup');
            //$("#map-canvas").dialog("open");
        });
        
        $("#btnFollowChef").click(function () {
            _followChef();
            $("#btnUnFollowChefSideBar").removeClass('hidden');
            $("#btnFollowChefSideBar").addClass('hidden');
            $("#btnUnFollowChef").removeClass('hidden');
            $("#btnFollowChef").addClass('hidden');
            return false;
        });
        $("#btnFollowChefSideBar").click(function () {
            _followChef();
            $("#btnUnFollowChefSideBar").removeClass('hidden');
            $("#btnFollowChefSideBar").addClass('hidden');
            $("#btnUnFollowChef").removeClass('hidden');
            $("#btnFollowChef").addClass('hidden');
            return false;
        });
        $("#btnUnFollowChef").click(function () {
            _unfollowChef();
            $("#btnUnFollowChefSideBar").addClass('hidden');
            $("#btnFollowChefSideBar").removeClass('hidden');
            $("#btnUnFollowChef").addClass('hidden');
            $("#btnFollowChef").removeClass('hidden');
            return false;
        });
        $("#btnUnFollowChefSideBar").click(function () {
            _unfollowChef();
            $("#btnUnFollowChefSideBar").addClass('hidden');
            $("#btnFollowChefSideBar").removeClass('hidden');
            $("#btnUnFollowChef").addClass('hidden');
            $("#btnFollowChef").removeClass('hidden');
            return false;
        });
        $("#btnLoginSideBarBottom").click(function (e) {
            e.preventDefault();
            var _rurl = "@(SupperClub.Code.ServerMethods.ServerUrl + Model.MasterEvent.UrlFriendlyName)" + "/"+ @Model.MasterEvent.Id.ToString();
            var tem = "@Url.Action("WishListEvent","Event")";
            var _url = encodeURIComponent(tem + "?eventId=" + @Model.MasterEvent.Id.ToString() + "&rurl=" + _rurl);
            $("#RedirectURL").val(_url);
            $('#login-dialog').load("@Url.Action("loginRegister", "account", new {})"+ "?returnUrl=" + _url);
            $( $(this).attr("href")).show();
        });
        $("#btnLoginSideBarTop").click(function (e) {
            e.preventDefault();
            var _rurl = "@(SupperClub.Code.ServerMethods.ServerUrl + Model.MasterEvent.UrlFriendlyName)" + "/"+ @Model.MasterEvent.Id.ToString();
            var tem = "@Url.Action("FollowChef","Host")";
            var _url = encodeURIComponent(tem + "?supperClubId=" + @Model.MasterEvent.SupperClubId.ToString() + "&rurl=" + _rurl);
            $("#RedirectURL").val(_url);
            $('#login-dialog').load("@Url.Action("loginRegister", "account", new {})"+ "?returnUrl=" + _url);
            $( $(this).attr("href") ).show();
        });
        $("#btnLoginChefTab").click(function (e) {
            e.preventDefault();
            var _rurl = "@(SupperClub.Code.ServerMethods.ServerUrl + Model.MasterEvent.UrlFriendlyName)" + "/"+ @Model.MasterEvent.Id.ToString();
            var tem = "@Url.Action("FollowChef","Host")";
            var _url = encodeURIComponent(tem + "?supperClubId=" + @Model.MasterEvent.SupperClubId.ToString() + "&rurl=" + _rurl);
            $("#RedirectURL").val(_url);
            $('#login-dialog').load("@Url.Action("loginRegister", "account", new {})"+ "?returnUrl=" + _url);
            $( $(this).attr("href") ).show();
        });

       
        $('#loginForm').submit(function(e) {
            e.preventDefault();
            var url = "@Url.Action("LogIn","Account")";
            var fu = $("#RedirectURL").val();
            $('#loginForm').prop('action', url + "?returnUrl=" + fu);
            $('#loginForm')[0].submit();
            return true;
        });
      
        $("#btnLoadMoreReviews").click(function () {
            var currentval = parseInt($("#_reviewCounter").val());
            var hiddendivcntr = currentval*5+3;
            $("#divMoreReview_"+ hiddendivcntr).removeClass('hidden');
            $("#_reviewCounter").val(currentval+1);
        });
       

    });


</script>
@if (!Model.MasterEvent.SupperClub.Active)
{    <meta name="robots" content="noindex,follow" />}


}
       


      

          @*<div class="container mb+">
            <ul class="breadcrumbs list-inline list-inline--delimited pt-- mb">
        <li><a href="@(SupperClub.Code.ServerMethods.ServerUrl)">Home</a></li>
        <li><a href="@(SupperClub.Code.ServerMethods.ServerUrl + Model.MasterEvent.SupperClub.UrlFriendlyName)">Chef</a></li>
        <li><a href="@(SupperClub.Code.ServerMethods.ServerUrl + Model.MasterEvent.UrlFriendlyName + "/" + Model.MasterEvent.Id.ToString())">@Model.MasterEvent.Name </a></li>
      </ul>

          </div>*@

          <div class="container" itemprop="event" itemscope itemtype="http://schema.org/Event">
             <div class="layout">
                  <div class="layout__item large-and-up-2/3">
                      <h1 class="type-light mb"><span itemprop="name">@Model.MasterEvent.Name</span></h1>

                      <div class="owl-carousel owl-carousel--single-image mb">
                    @if (Model.MasterEvent.EventImages != null && Model.MasterEvent.EventImages.Count > 1)
                    {
                          foreach (var _image in Model.MasterEvent.EventImages)
                          {
                              <div>
                                  <a href="@Url.Content(SupperClub.Code.ServerMethods.EventImagePath + _image.ImagePath)" rel="imagebox" title="@Model.MasterEvent.Name">
                                      <img src="@Url.Content(SupperClub.Code.ServerMethods.EventImagePath + _image.ImagePath)" alt="@Model.MasterEvent.Name | Grubclub" style="height:400px;width:600px;"/>
                                  </a>
                                  @if(SupperClub.Code.UserMethods.IsLoggedIn)
                                {
                                    if(SupperClub.Code.UserMethods.CurrentUser.WishListedEventIds.Contains(Model.MasterEvent.Id))
                                    {
                                        <div class="tooltip-links-wl is-active imgSldrRmWs">
                                            <a href="#!" onclick="_rmWishList(@Model.MasterEvent.Id);">
                                                <svg role="img" class="icon color-white icon--38x35">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../content/images/icons/icons.svg#icon-heart"></use>
                                                </svg>
                                            </a>
                                        </div>
                                        <div class="tooltip-links-wl hidden imgSldrAddWs">
                                            <a href="#!" onclick="_adWishList(@Model.MasterEvent.Id);">
                                                <svg role="img" class="icon color-white icon--38x35">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../content/images/icons/icons.svg#icon-heart"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="tooltip-links-wl is-active hidden imgSldrRmWs">
                                            <a href="#!" onclick="_rmWishList(@Model.MasterEvent.Id);">
                                                <svg role="img" class="icon color-white icon--38x35">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../content/images/icons/icons.svg#icon-heart"></use>
                                                </svg>
                                            </a>
                                        </div>
                                        <div class="tooltip-links-wl imgSldrAddWs">
                                            <a href="#!" onclick="_adWishList(@Model.MasterEvent.Id);">
                                                <svg role="img" class="icon color-white icon--38x35">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../content/images/icons/icons.svg#icon-heart"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    }

                                }
                                else{
                                    <div class="tooltip-links-wl">
                                        <a id='@Model.MasterEvent.Id tooltip' class="loginWishList open-popup" href="#login-dialog">
                                            <svg role="img" class="icon color-white icon--38x35">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../content/images/icons/icons.svg#icon-heart"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    }
                              </div>
                          }
                    }
                    else
                    {
                      <div>
                          <a href="@Url.Content(SupperClub.Code.ServerMethods.EventImagePath + Model.MasterEvent.ImagePath)" rel="imagebox" title="@Model.MasterEvent.Name">
                              <img src="@Url.Content(SupperClub.Code.ServerMethods.EventImagePath + Model.MasterEvent.ImagePath)" alt="@Model.MasterEvent.Name | Grubclub" style="height:400px;width:600px;" />
                          </a>
                          @if (SupperClub.Code.UserMethods.IsLoggedIn)
                          {
                              if (SupperClub.Code.UserMethods.CurrentUser.WishListedEventIds.Contains(Model.MasterEvent.Id))
                              {
                                  <div class="tooltip-links-wl is-active imgSldrRmWs">
                                      <a href="#!" onclick="_rmWishList(@Model.MasterEvent.Id);">
                                          <svg role="img" class="icon color-white">
                                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../content/images/icons/icons.svg#icon-heart"></use>
                                          </svg>
                                      </a>
                                  </div>
                                  <div class="tooltip-links-wl hidden imgSldrAddWs">
                                      <a href="#!" onclick="_adWishList(@Model.MasterEvent.Id);">
                                          <svg role="img" class="icon color-white">
                                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../content/images/icons/icons.svg#icon-heart"></use>
                                          </svg>
                                      </a>
                                  </div>
                              }
                              else
                              {
                                  <div class="tooltip-links-wl is-active hidden imgSldrRmWs">
                                      <a href="#!" onclick="_rmWishList(@Model.MasterEvent.Id);">
                                          <svg role="img" class="icon color-white">
                                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../content/images/icons/icons.svg#icon-heart"></use>
                                          </svg>
                                      </a>
                                  </div>
                                  <div class="tooltip-links-wl imgSldrAddWs">
                                      <a href="#!" onclick="_adWishList(@Model.MasterEvent.Id);">
                                          <svg role="img" class="icon color-white">
                                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../content/images/icons/icons.svg#icon-heart"></use>
                                          </svg>
                                      </a>
                                  </div>
                              }

                          }
                          else
                          {
                              <div class="tooltip-links-wl">
                                  <a id='@Model.MasterEvent.Id tooltip' class="loginWishList open-popup" href="#login-dialog">
                                      <svg role="img" class="icon color-white">
                                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../content/images/icons/icons.svg#icon-heart"></use>
                                      </svg>
                                  </a>
                              </div>
                          }
                      </div>
                    }
                    
                      </div>

                      <div class="tabs mb+">
                          <ul class="tabs__nav layout layout--flush">
                              <li class="layout__item large-and-up-1/4"><a href="#Details" id="tabDetails">About</a></li>
                              <li class="layout__item large-and-up-1/4"><a href="#Menu" id="tabMenu">Your Menu</a></li>
                              <li class="layout__item large-and-up-1/4"><a href="#Chef" id="tabChef">Your Host</a></li>
                              <li class="layout__item large-and-up-1/4"><a href="#reviews" id="tabReviews">Reviews</a></li>
                          </ul>

                          <div id="Details" class="tab-item pt-">
                              <h3 class="mb--">Why Join the Table?</h3>
                              <div id="short_description" class="stuff">
                                  <p class="mb">
                                      @Html.Raw(@Model.MasterEvent.ShortDescription.Replace("\r\n", "<br />").Replace("\n", "<br />"))
                                  </p>
                              </div>
                              <div id="full_description" class="stuff hidden">
                                  <p class="mb">
                                      @Html.Raw("<span itemprop=\"description\">" + @Model.MasterEvent.EventDescription.Replace("\r\n", "<br />").Replace("\n", "<br />") + "</span>")
                                  </p>
                              </div>
                              <div class="text-center stuff">
                                  <input type="button" class="btn--primary btn--transparent type-semibold color-black type-small inline-block btn--h22" id="show_more" value="Show More" onclick="showFullDescription();">
                              </div>
                          </div>
                          <div id="Menu" class="tab-item">
                              @*<div class="menu-box text-center mb">
                              <h3 class="h6 type-semibold color-darken">Starter:</h3>
                              <p class="mb">Bell pepper and pistachio tartlets drizzled with Rotiya's home made chilli jam</p>
                              <h3 class="h6 type-semibold color-darken">Main:</h3>
                              <p class="mb">Freshly made rotis filled with: Herby grilled lamb, accompanied by zingy tabbouleh, finished with a dollop of tahini raita Smoky aubergine, smothered in tamarind sauce, with an almond crunch All of our rotis are served with leafy salad</p>
                              <h3 class="h6 type-semibold color-darken">Dessert:</h3>
                              <p class="mb">Oozing salted caramel and pecan mud pie topped with clotted cream ice-cream (well worth the sin!)</p>
                              <h3 class="h6 type-semibold color-darken">Drinks:</h3>
                              <p class="mb+">A glass of bubbly on arrival, red &amp; white wines, filter coffee</p>
                              <p class="type-small">Join the foodie conversation:</p>
                              <p class="type-small"><span class='color-orange'>#grubclublondon</span> <span class='color-orange'>@thehungrychef</span></p>
                            </div>*@
                              <div class="menu-box text-center mb">
                                  @foreach (string s in Model.MasterEvent.Menu.Split('*'))
                          {
                                      <p class="mb">@Html.Raw(@s.Trim())</p>
                          }
                              </div>


                              @*<div class="text-center mb+">
                                  <a href="" class="btn btn--primary btn--huge mr--">Download Menu</a>
                                  <a href="" class="btn btn--primary btn--huge ml--">Share this Menu</a>
                              </div>*@
                          </div>
                          <div id="Chef" class="tab-item pt large-and-up-ph">
                              <div class="ph pv bgr-white mb- large-and-up-mh-">
                                  <div class="flag flag--top flag--responsive">
                                      <a href="@(SupperClub.Code.ServerMethods.ServerUrl + Model.MasterEvent.SupperClub.UrlFriendlyName)">
                                          <div class="flag__img">
                                              <img style="width: 65px" src="@Url.Content(SupperClub.Code.ServerMethods.SupperClubImagePath + Model.MasterEvent.SupperClub.ImagePath)" alt="@Model.MasterEvent.SupperClub.Name | GrubClub" />
                                          </div>
                                      </a>
                                          <div class="flag__body">
                                              <a href="@(SupperClub.Code.ServerMethods.ServerUrl + Model.MasterEvent.SupperClub.UrlFriendlyName)">
                                                  <h3 class="h2 type-light color-darken line-height-1-15">@Model.MasterEvent.SupperClub.Name</h3>
                                              </a>

                                              <ul class="rating inline-block mr-">
                                                  @for (int i = 0; i < (@Model.MasterEvent.SupperClub.AverageRank == null? 0 : (int)@Model.MasterEvent.SupperClub.AverageRank); i++)
        {

                                                      <li class="is-checked">

                                                          <svg role="img" class="icon ">
                                                              <use xlink:href="../content/images/icons/icons.svg#icon-star"></use>
                                                          </svg>

                                                      </li>
        }
                                                  @for (int i = 0; i < 5 - (@Model.MasterEvent.SupperClub.AverageRank == null ? 0 : (int)@Model.MasterEvent.SupperClub.AverageRank); i++)
        {
                                                      <li class="">
                                                          <svg role="img" class="icon ">
                                                              <use xlink:href="../content/images/icons/icons.svg#icon-star"></use>
                                                          </svg>
                                                      </li>
        }
                                              </ul>

                                              <span class='color-gray inline-block'>
                                                  <svg role="img" class="icon icon--12x12">
                                                      <use xlink:href="../content/images/icons/icons.svg#icon-bubble_icon"></use>
                                                  </svg>
                                              </span> <a href="@(SupperClub.Code.ServerMethods.ServerUrl + Model.MasterEvent.SupperClub.UrlFriendlyName)#reviews">
                                                  <span class="color-gray">@Model.MasterEvent.SupperClub.NumberOfReviews Reviews</span>
                                              </a>
                                              <div class="clearfix mb"></div>
                                              <div class="pt--">
                                                  <a href="@(SupperClub.Code.ServerMethods.ServerUrl + Model.MasterEvent.SupperClub.UrlFriendlyName)" class="btn btn--primary btn--small large-and-up-float-right type-small type-uppercase">View profile</a>
                                                  @if(SupperClub.Code.UserMethods.IsLoggedIn)
                                              {
                                                  if(ViewBag.IsFollowingChef)
                                                  {
                                                      <a id="btnFollowChef" href="" class="btn btn--primary btn--small large-and-up-float-right type-small type-uppercase mr- hidden">Follow</a>
                                                      <a id="btnUnFollowChef" href="" class="btn btn--primary btn--small large-and-up-float-right type-small type-uppercase mr- btn--unfollow">Unfollow</a>
                                                  }
                                                  else
                                                  {
                                                      <a id="btnFollowChef" href="" class="btn btn--primary btn--small large-and-up-float-right type-small type-uppercase mr-">Follow</a>
                                                      <a id="btnUnFollowChef" href="" class="btn btn--primary btn--small large-and-up-float-right type-small type-uppercase mr- btn--unfollow hidden">Unfollow</a>
                                                  }
                                              }
                                              else{
                                                      <a href="#login-dialog" id="btnLoginChefTab" class="btn btn--primary btn--small large-and-up-float-right type-small type-uppercase mr- type-small open-popup">Follow</a>
                                              }
                                              </div>
                                          </div>
</div>
                              </div>
                              <h3 class="h4">In a Nutshell</h3>
                              <p class="mb-">@Model.MasterEvent.SupperClub.Summary</p>
                              <h3 class="h4">The Whole Hog</h3>
                              <p class="mb-"><span itemprop="description">@Model.MasterEvent.SupperClub.Description</span></p>
                          </div>
                          <div id="reviews" class="tab-item pt">

                              <div class="comments-box" itemprop="review" itemscope itemtype="http://schema.org/Review">
                                  @if (ViewBag.SupperClubReviews!= null && ViewBag.SupperClubReviews.Count == 0)
                                {
                                      @: No reviews for this chef yet!
                                      <br /><br />
                                }
                                  else
                                  {
                                    <div class="container container--small" id="DivReviews">

                                    </div>
                                    <div class="text-center mb" id="btnReviewsLoadMorediv" style="display:none">

                                        <button type="button" id="btnReviewLoadMore" class="btn btn--primary btn--radius btn--white">Load More</button>
                                    </div>

                                  }
                              
                              </div>
                          
                          </div>

                      </div>

                      <h2 class="type-uppercase type-semibold color-darken type-small mb-- ph">More about this Experience</h2>
                      <ul class="information-icons ph pb-">
                        @if(Model.MasterEvent.Alcohol)
                        {
                            <li class="information-icons__item tooltip-wrap mb-">
                                <a href="/byob">
                                    <svg role="img" class="icon icon--20x40">
                                        <use xlink:href="../content/images/icons/icons.svg#icon-large_botles"></use>
                                    </svg>
                                </a>
                                <div class="tooltip">Bring Your Own Bottle</div>
                            </li>
                        }

                    @if(Model.MasterEvent.SelectedTagIds.Contains(45))
                        {
                          <li class="information-icons__item tooltip-wrap mb-">
                              <a href="/vegan">
                                  <svg role="img" class="icon icon--38x35">
                                      <use xlink:href="../content/images/icons/icons.svg#icon-leaf"></use>
                                  </svg>
                              </a>
                                  <div class="tooltip">Vegan</div>
                           </li>
                        }
                    @if(Model.MasterEvent.SelectedTagIds.Contains(11))
                    {
                              <li class="information-icons__item tooltip-wrap mb-">
                                  <a href="/byo-children">
                                  <svg role=" img" class="icon icon--38x35">
                                      <use xlink:href="../content/images/icons/icons.svg#icon-baby_prams"></use>
                                      </svg>
                                      </a>
                                      <div class="tooltip">Child Friendly</div>
</li>
                    }
                    @if(Model.MasterEvent.SelectedTagIds.Contains(9))
                        {
                          <li class="information-icons__item tooltip-wrap mb-">
                              <a href="/feel-good">
                                  <svg role="img" class="icon icon--38x35">
                                      <use xlink:href="../content/images/icons/icons.svg#icon-heart_signal"></use>
                                  </svg>
                              </a>
                              <div class="tooltip">Be Good to Your Health</div>
                          </li>
                    }
                    @*@if(Model.MasterEvent.SelectedTagIds.Contains(51))
                        {
                          <li class="information-icons__item tooltip-wrap mb-">

                              <svg role="img" class="icon icon--38x35">
                                  <use xlink:href="../content/images/icons/icons.svg#icon-heart"></use>
                              </svg>

                              <div class="tooltip">Flirting Encouraged</div>
                          </li>
                    }*@
                          @*<li class="information-icons__item tooltip-wrap mb-">

                              <svg role="img" class="icon icon--38x35">
                                  <use xlink:href="../content/images/icons/icons.svg#icon-smile_face"></use>
                              </svg>

                              <div class="tooltip">Info text</div>
                          </li>*@
                        @if(Model.MasterEvent.SelectedTagIds.Contains(10))
                        {
                          <li class="information-icons__item tooltip-wrap mb-">
                              <a href="/byo-food">
                                  <svg role="img" class="icon icon--12x40">
                                      <use xlink:href="../content/images/icons/icons.svg#icon-fork"></use>
                                  </svg>
                              </a>
                              <div class="tooltip">Bring your own food</div>
                          </li>
                        }
                        @if(Model.MasterEvent.SelectedTagIds.Contains(15))
                        {
                          <li class="information-icons__item tooltip-wrap mb-">
                              <a href="/wheelchair-friendly">
                                  <svg role="img" class="icon icon--33x39">
                                      <use xlink:href="../content/images/icons/icons.svg#icon-disability"></use>
                                  </svg>
                              </a>
                              <div class="tooltip">Wheelchair friendly</div>
                          </li>
                        }
                        <li class="information-icons__item tooltip-wrap mb-">
                            <a href="/pop-up-restaurants">
                                <svg role="img" class="icon icon--33x39">
                                    <use xlink:href="../content/images/icons/icons.svg#icon-big_user"></use>
                                </svg>
                            </a>
                              <div class="tooltip">Great on your own!</div>
                          </li>
                       
                    @if (Model.MasterEvent.SelectedTagIds.Contains(44))
                    {
                          <li class="information-icons__item tooltip-wrap mb-">
                              <a href="/vegetarian">
                                  <svg role="img" class="icon icon--29x34">
                                      <use xlink:href="../content/images/icons/icons.svg#icon-v"></use>
                                  </svg>
                              </a>
                              <div class="tooltip">Vegetarian</div>
                          </li>
                     }
                          @*<li class="information-icons__item tooltip-wrap mb-">

                              <svg role="img" class="icon icon--33x39">
                                  <use xlink:href="../content/images/icons/icons.svg#icon-apple"></use>
                              </svg>

                              <div class="tooltip">Info text</div>
                          </li>*@
                      </ul>
                      <hr class="hr hr--dots mb--">
                      <p class="color-darken mb pb-">
                          <svg role="img" class="icon ">
                              <use xlink:href="../content/images/icons/icons.svg#icon-tags"></use>
                          </svg>
                          <span>Event Tags:</span> <span class="type-semibold">
                            @if(Model.MasterEvent.EventTags != null && Model.MasterEvent.EventTags.Count > 0)
                            {
                                var _cntr = 1;
                                foreach(SupperClub.Domain.EventTag _et in Model.MasterEvent.EventTags)
                                {
                                    if(_cntr == Model.MasterEvent.EventTags.Count)
                                    {
                                      @: <a href="@(SupperClub.Code.ServerMethods.ServerUrl+_et.Tag.UrlFriendlyName)">@_et.Tag.Name</a>
                                    }
                                    else
                                    {
                                      @: <a href="@(SupperClub.Code.ServerMethods.ServerUrl+_et.Tag.UrlFriendlyName)">@_et.Tag.Name</a>,
                                    } _cntr++; 
                                } 
                            } </span> </p> 
                  
                  @if(Model.MasterEvent.EventAttendees != null && Model.MasterEvent.EventAttendees.Count > 10) 
                  { 
                      <h2 class="h4 type-bold mb-">Already at the Table
                      <span class="type-default type-semibold">(@Model.MasterEvent.EventAttendees.Count)</span></h2> 
                      <ul class="list-bare list-inline mb"> 
                          @for (int i = 0; i < Model.MasterEvent.EventAttendees.Count; i++) 
                          { 
                              <li class="mr-- mb--"> 
                                    @*<a href="">
                                    <img src="../content/images/icons/martini2.png" alt="">
                                    </a>*@ 
                                  <svg role="img" class="icon icon--33x39">
                                      <use xlink:href="../content/images/icons/icons.svg#icon-big_user"></use>
                                  </svg>
                                  
                              </li> 
                          }                              @*<li class="mr-- mb--">
                                  <a href=""><img src="../content/images/people/img10.jpg" alt=""></a>
                              </li>*@  
                      </ul> 
                  } 
                  </div>  
                  
                  
                  <div class="layout__item large-and-up-1/3"> <aside class="sidebar-event"> 
                      <input type="hidden" id="_redirect" value="" />
                      <div class="flag flag--top flag--small flag--responsive mb pb-"> 
                      <div class="flag__img"> 
                          <a href="@(SupperClub.Code.ServerMethods.ServerUrl + Model.MasterEvent.SupperClub.UrlFriendlyName)">
                              <img class="border-white" src="@Url.Content(SupperClub.Code.ServerMethods.SupperClubImagePath + Model.MasterEvent.SupperClub.ImagePath)" alt="@Model.MasterEvent.SupperClub.Name | GrubClub" style="height:90px;width:73px;" />
                          </a>
                      </div> 
                      <div class="flag__body"> 
                          <div class="justifize mb--"> 
                          <div class="justifize__box"> 
                              <a href="@(SupperClub.Code.ServerMethods.ServerUrl + Model.MasterEvent.SupperClub.UrlFriendlyName)"><h3 class="type-semibold type-small type-uppercase color-darken line-height-1-15">@Model.MasterEvent.SupperClub.Name</h3></a>
</div> 
                          <div class="justifize__box"> 
                              @if(SupperClub.Code.UserMethods.IsLoggedIn)
                              {
                                  if(ViewBag.IsFollowingChef)
                                  {                                    
                                        <a id="btnFollowChefSideBar" href="" class="btn btn--primary btn--small large-and-up-float-right type-small type-uppercase mr- hidden">Follow</a>
                                        <a id="btnUnFollowChefSideBar" href="" class="btn btn--primary btn--small large-and-up-float-right type-small type-uppercase mr- btn--unfollow">Unfollow</a>
                                  }
                                  else
                                  {
                                      <a id="btnFollowChefSideBar" href="" class="btn btn--primary btn--small large-and-up-float-right type-small type-uppercase mr-">Follow</a>
                                      <a id="btnUnFollowChefSideBar" href="" class="btn btn--primary btn--small large-and-up-float-right type-small type-uppercase mr- btn--unfollow hidden">Unfollow</a>
                                  }
                              }
                              else
                              {
                                  <a id="btnLoginSideBarTop" href="#login-dialog" class="btn btn--primary btn--small large-and-up-float-right type-small type-uppercase mr- type-small open-popup">Follow</a> 
                              } 
                              
                              </div> </div> <a href="@(SupperClub.Code.ServerMethods.ServerUrl + Model.MasterEvent.SupperClub.UrlFriendlyName)"><p>By <span class="type-semibold">@Model.MasterEvent.SupperClub.User.FirstName @Model.MasterEvent.SupperClub.User.LastName</span></p></a>
                           <div class="justifize"> <div class="justifize__box">   
                               <ul class="rating "> @for (int i = 0; i < (@Model.MasterEvent.SupperClub.AverageRank == null? 0 : (int)@Model.MasterEvent.SupperClub.AverageRank); i++) { <li class="is-checked"> <svg role="img" class="icon "> <use xlink:href="../content/images/icons/icons.svg#icon-star"></use> </svg> </li> } @for (int i = 0; i < 5 - (@Model.MasterEvent.SupperClub.AverageRank == null ? 0 : (int)@Model.MasterEvent.SupperClub.AverageRank); i++) { <li class=""> <svg role="img" class="icon "> <use xlink:href="../content/images/icons/icons.svg#icon-star"></use> </svg> </li> } </ul>  </div> <div class="justifize__box"> <span class='color-gray inline-block'> <svg role="img" class="icon icon--12x12"> <use xlink:href="../content/images/icons/icons.svg#icon-bubble_icon"></use> </svg> </span> 
                                <a href="@(SupperClub.Code.ServerMethods.ServerUrl + Model.MasterEvent.SupperClub.UrlFriendlyName)#reviews"><span class="color-gray">@Model.MasterEvent.SupperClub.NumberOfReviews Reviews</span></a> </div> </div> </div> </div>  
                      
                      <h2 class="type-semibold type-default type-uppercase color-darken line-height-1-15 mb-">Book this Experience</h2>  
                      
                      <div class="book-form" style="padding-right:7px !important;"> <form action=""> <h3 class="h6 mb--">@Model.MasterEvent.Name</h3> 
                      
                      <hr class="hr hr--dots mb--"> 
                      @if (Model.FutureEventList != null && Model.FutureEventList.Count > 0)
                      {
                          foreach (SupperClub.Models.ChildEvent ce in Model.FutureEventList)
                          { 
                          <div class="flag flag--flush mb--"> 
                            <div class="flag__img">  
                              <svg role="img" class="icon color-blue icon--14x14 mr--"> 
                                <use xlink:href="../content/images/icons/icons.svg#icon-medium_calendar"></use> 
                              </svg>  
                            </div> 
                            <div class="flag__body"> 
                                <a href="@(ce.EventUrl)">
                                    <span>@ce.EventDate.ToString("ddd, d MMM yyyy")</span>
                                </a>
                                @if (ce.Soldout)
                                {
                                    <svg role="img" class="icon color-blue icon--14x14 mr--" style="padding-left:5px;">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons/icons.svg#icon-flag"></use>
                                    </svg>
                                    <span class="color-blue type-bold">Sold Out!</span>
                                }
                                else
                                {
                                    <a href="@(ce.EventUrl)" class="btn btn--primary btn--radius btn--small large-and-up type-small mr-" style="padding-left:8px !important;padding-right:8px !important;padding-top: 4px !important;font-size: 15px !important; vertical-align:middle !important; height:30px !important;"> Book @ce.EventDate.ToString("d MMM yyyy") </a>
                                }
                            </div> 
                          </div>
                          }
                      }
                      else
                      {
                        <div class="justifize__box">
                            <span class='type-bold h4 color-dark'>There are no upcoming events for this chef!</span>
                        </div>
                      }
                      @*<div>  <svg role="img" class="icon color-blue icon--14x14 mr--"> 
                          <use xlink:href="../content/images/icons/icons.svg#icon-small_clock"></use> 
                          </svg> 
                          <span>
                            @if (!Model.MasterEvent.MultiSeating) 
                            { 
                                @: @Model.MasterEvent.Start.ToShortTimeString() - @Model.MasterEvent.End.ToShortTimeString()
                            } 
                            else 
                            { 
                                if (Model.MasterEvent.EventSeatings.Count > 0) 
                                { 
                                    @: @Model.MasterEvent.MinSeatingTime.ToShortTimeString() onwards
                                } 
                                else 
                                { 
                                    @: @Model.MasterEvent.Start.ToShortTimeString() - @Model.MasterEvent.End.ToShortTimeString()
                                }
                            }                               
                          </span>
                      </div>*@
                      
                      <hr class="hr hr--dots">
                      <div class="justifize">
                          <div class="justifize__box">
                              <span class='type-bold h4 color-dark'>@Model.LowestPrice</span>
                          </div>
                          @if(Model.MasterEvent.Alcohol)
                          {
                          <div class="justifize__box">
                              <a href="/byob">
                                  <span class='type-bold h4 color-dark tooltip-wrap'>
                                      <svg role="img" class="icon icon--11x21">
                                          <use xlink:href="../content/images/icons/icons.svg#icon-large_botles"></use>
                                      </svg>
                                      BYOB <div class="tooltip">Bring your own bottle</div>
                                  </span>
                                  </a>

</div>
                          }
                      </div>
                      
                        
                                 
                    
                
</form>
              </div>
          </aside>
      </div>
      </div>


     
      </div>

          

   
<script id="ReviewTemplate" type="text/x-jquery-tmpl">

    <div class="flag flag--top flag--flush flag--responsive mb">
        <div class="flag__img ph">
            <img src="@Url.Content("~/Content/images/")placeholder-img2.jpg" alt="">
        </div>
        <div class="flag__body">
            <h3 class="h6 type-semibold">
                <span itemprop="author">${userName}</span>
                <meta itemprop="datePublished" content="${dateCreatedSEO}"><time>${dateCreated}</time>
            </h3>
            <h3 class="h6 type-semibold"><span itemprop="name">${reviewTitle}</span></h3>

            {{if rating== 5}}
            <ul class="rating ">
                <li class="is-checked"><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class="is-checked"><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class="is-checked"><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class="is-checked"><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class="is-checked"><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
            </ul>
            {{/if}}
            {{if rating== 4}}
            <ul class="rating ">
                <li class="is-checked"><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class="is-checked"><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class="is-checked"><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class="is-checked"><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class=""><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
            </ul>
            {{/if}}
            {{if rating== 3}}
            <ul class="rating ">
                <li class="is-checked"><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class="is-checked"><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class="is-checked"><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class=""><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class=""><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
            </ul>
            {{/if}}
            {{if rating== 2}}
            <ul class="rating ">
                <li class="is-checked"><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class="is-checked"><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class=""><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class=""><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class=""><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
            </ul>
            {{/if}}
            {{if rating== 1}}
            <ul class="rating ">
                <li class="is-checked"><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class=""><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class=""><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class=""><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class=""><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
            </ul>
            {{/if}}
            {{if rating== 0}}
            <ul class="rating ">
                <li class=""><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class=""><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class=""><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class=""><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
                <li class=""><svg role="img" class="icon "><use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-star"></use></svg></li>
            </ul>
            {{/if}}

            <p class="type-light">${reviewText}</p>
        </div>
    </div>
</script>

