

    @*<div class="container mb+">
        <ul class="breadcrumbs list-inline list-inline--delimited pt-- mb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Chefs </a></li>
            <li><a href="#">User Profile </a></li>
            <li class="current"><a href="#">Adam Walden</a></li>
        </ul>

    </div>*@

    <div class="container">

        <h1 class="type-light mb">Information</h1>
        <div class="layout">
            <aside class="layout__item large-and-up-1/4 medium-1/2">
                <nav class='nav-about mb'>
                    <ul class="list-bare">
                        <li><a href="About">About Us</a></li>
                        <li><a href="HowItWorks">How It Works</a></li>
                        <li><a href="Faqs">FAQs</a></li>
                        <li><a href="Contact">Contact Us</a></li>
                        <li><a href="BecomeAHost" class="is-active">Become A Host</a></li>
                        <li><a href="Vouchers">Vouchers</a></li>
                        <li><a href="Partners">Partners</a></li>
                        <li><a href="Gallery">Gallery</a></li>
                    </ul>
                </nav>

            </aside>
            <div class="layout__item large-and-up-3/4">
                <h2 class="h3 mb">Become A Host</h2>
                <p class="type-large mb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices nunc eget laoreet elementum. Integer bibendum fringilla nunc, a imperdiet nisl aliquam sed. Duis ac lorem eget sapienv olutpat conv.</p>

                <h2 class="h3 mb--">What we provide:</h2>

                <div class="accordion mb">
                    <article class='accordion--active'>
                        <h3>
                            A Booking Platform <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <ul>
                                <li>Platform for guests to book and pay online, and convey</li>
                                specific requirements
                                <li>Customer support for guests</li>
                                <li>Diner feedback/review system</li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <h3>
                            Marketing Support <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices nunc eget laoreet elementum. Integer bibendum fringilla nunc, a imperdiet nisl aliquam sed. Duis ac lorem eget sapienv olutpat conv. </p>
                        </div>
                    </article>
                    <article>
                        <h3>
                            Community <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices nunc eget laoreet elementum. Integer bibendum fringilla nunc, a imperdiet nisl aliquam sed. Duis ac lorem eget sapienv olutpat conv. </p>
                        </div>
                    </article>
                </div>
                <h2 class="h3 mb--">Set Up Your Event</h2>

                <div class="accordion mb">
                    <article class='accordion--active'>
                        <h3>
                            Marketing Support <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p class="mb">"A Picture is worth a thousand words" - Upload mouth watering and engaging pictures </p>
                            <a href="" class="text-underline">Get some tips here</a>
                        </div>
                    </article>
                    <article>
                        <h3>
                            Great Value <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices nunc eget laoreet elementum. Integer bibendum fringilla nunc, a imperdiet nisl aliquam sed. Duis ac lorem eget sapienv olutpat conv.</p>
                        </div>
                    </article>
                    <article>
                        <h3>
                            Unique &amp; Exciting <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices nunc eget laoreet elementum. Integer bibendum fringilla nunc, a imperdiet nisl aliquam sed. Duis ac lorem eget sapienv olutpat conv. </p>
                        </div>
                    </article>
                </div>
                <h2 class="h3 mb">Register To Host</h2>
                <p class="type-large mb-">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices nunc eget laoreet elementum. Integer bibendum fringilla nunc, a imperdiet nisl aliquam sed. Duis ac lorem eget sapienv olutpat conv.</p>
                <div class="text-center mb pb-">
                    <a href="" class="btn btn--primary btn--large btn--w400 type-semibold">Register here</a>
                </div>
                <h2 class="h3 mb--">Event Checklist</h2>

                <div class="accordion mb">
                    <article class='accordion--active'>
                        <h3>
                            1. Preparation <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <ul class="list-inside">
                                <li class="mb-">Think carefully: In order to be a success, a Grub Club needs to meet certain criteria. Have a think about how you can achieve these as a small team so you’re not on your own.</li>
                                <li class="mb-">Charisma: A Grub Club is an experience, not a restaurant. Hosts need to be positive, creative and dynamic in order to make their guests feel welcome.</li>
                                <li class="mb-">Cooking skills: Although this is an experience, guests are looking forward to the food and expect to eat good food, prepared with dedication and attention.</li>
                                <li class="mb-">Space: Make sure you have access to the right space to host an event – whether it’s in someone’s home or in a third space. Grub Club can help you find a space. Ask us for help</li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <h3>
                            2. Cooking <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices nunc eget laoreet elementum. Integer bibendum fringilla nunc, a imperdiet nisl aliquam sed. Duis ac lorem eget sapienv olutpat conv.</p>
                        </div>
                    </article>
                    <article>
                        <h3>
                            3. Administration <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices nunc eget laoreet elementum. Integer bibendum fringilla nunc, a imperdiet nisl aliquam sed. Duis ac lorem eget sapienv olutpat conv. </p>
                        </div>
                    </article>
                    <article>
                        <h3>
                            4. Communications <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices nunc eget laoreet elementum. Integer bibendum fringilla nunc, a imperdiet nisl aliquam sed. Duis ac lorem eget sapienv olutpat conv.</p>
                        </div>
                    </article>
                    <article>
                        <h3>
                            5. Hosting <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices nunc eget laoreet elementum. Integer bibendum fringilla nunc, a imperdiet nisl aliquam sed. Duis ac lorem eget sapienv olutpat conv. </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>

    </div>
