

    @*<div class="container mb+">
        <ul class="breadcrumbs list-inline list-inline--delimited pt-- mb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Chefs </a></li>
            <li><a href="#">User Profile </a></li>
            <li class="current"><a href="#">Adam Walden</a></li>
        </ul>

    </div>*@

    <div class="container">

        <h1 class="type-light mb">Information</h1>
        <form action="">
            <div class="layout">
                <aside class="layout__item large-and-up-1/4 medium-1/2">
                    <nav class='nav-about mb'>
                        <ul class="list-bare">
                            <li><a href="AboutUs">About Us</a></li>
                            <li><a href="HowItWorks">How It Works</a></li>
                            <li><a href="Faqs">FAQs</a></li>
                            <li><a href="ContactUs">Contact Us</a></li>
                            <li><a href="BecomeAHost">Become A Host</a></li>
                            <li><a href="Vouchers">Vouchers</a></li>
                            <li><a href="Partners">Partners</a></li>
                            <li><a href="Gallery" class="is-active">Gallery</a></li>
                        </ul>
                    </nav>

                </aside>
                <div class="layout__item large-and-up-3/4">
                    <h2 class="h3 mb-">Pic of the week</h2>
                    <div class="layout mb pb-">
                        <div class="layout__item large-and-up-5/6 ">
                            <figure>
                                <img src="@Url.Content("~/Content/images/")gallery/img1-large.jpg" alt="" class="border-white border-width-10 mb--">
                                <figcaption class="text-right type-uppercase type-small type-semibold">Submitted By: Name Surname</figcaption>
                            </figure>
                        </div>
                        <div class="layout__item large-and-up-1/6"></div>
                    </div>
                    <h2 class="h3 mb-">Videos <span>(7)</span></h2>
                    <div class="layout mb pb- gallery">
                        <div class="layout__item large-and-up-1/3 medium-1/3">
                            <a href="http://vimeo.com/123123" class="video-link border-gray mfp-iframe" title="A delicious photograph of food!">
                                <img src="@Url.Content("~/Content/images/")gallery/img1.jpg" alt="">
                            </a>
                        </div>
                        <div class="layout__item large-and-up-1/3 medium-1/3">
                            <a href="https://www.youtube.com/watch?v=8F9jXYOH2c0" class="video-link border-gray mfp-iframe" title="A delicious photograph of food!">
                                <img src="@Url.Content("~/Content/images/")gallery/img2.jpg" alt="">
                            </a>
                        </div>
                        <div class="layout__item large-and-up-1/3 medium-1/3">
                            <a href="http://vimeo.com/123123" class="video-link border-gray mfp-iframe" title="A delicious photograph of food!">
                                <img src="@Url.Content("~/Content/images/")gallery/img3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <h2 class="h3 mb-">Photos <span>(19)</span></h2>
                    <div class="layout mb pb- gallery">
                        <div class="layout__item large-and-up-1/4 medium-1/2">
                            <a href="@Url.Content("~/Content/images/")gallery/img1-large.jpg" class='border-gray display-block' title="A delicious photograph of food!" title="A delicious photograph of food!">
                                <img src="@Url.Content("~/Content/images/")gallery/img11.jpg" alt="">
                            </a>
                        </div>
                        <div class="layout__item large-and-up-1/4 medium-1/2">
                            <a href="@Url.Content("~/Content/images/")gallery/img2-large.jpg" class='border-gray display-block' title="A delicious photograph of food!">
                                <img src="@Url.Content("~/Content/images/")gallery/img12.jpg" alt="">
                            </a>
                        </div>
                        <div class="layout__item large-and-up-1/4 medium-1/2">
                            <a href="@Url.Content("~/Content/images/")gallery/img1-large.jpg" class='border-gray display-block' title="A delicious photograph of food!">
                                <img src="@Url.Content("~/Content/images/")gallery/img13.jpg" alt="">
                            </a>
                        </div>
                        <div class="layout__item large-and-up-1/4 medium-1/2">
                            <a href="@Url.Content("~/Content/images/")gallery/img2-large.jpg" class='border-gray display-block' title="A delicious photograph of food!">
                                <img src="@Url.Content("~/Content/images/")gallery/img14.jpg" alt="">
                            </a>
                        </div>
                        <div class="layout__item large-and-up-1/4 medium-1/2">
                            <a href="@Url.Content("~/Content/images/")gallery/img1-large.jpg" class='border-gray display-block' title="A delicious photograph of food!">
                                <img src="@Url.Content("~/Content/images/")gallery/img11.jpg" alt="">
                            </a>
                        </div>
                        <div class="layout__item large-and-up-1/4 medium-1/2">
                            <a href="@Url.Content("~/Content/images/")gallery/img2-large.jpg" class='border-gray display-block' title="A delicious photograph of food!">
                                <img src="@Url.Content("~/Content/images/")gallery/img12.jpg" alt="">
                            </a>
                        </div>
                        <div class="layout__item large-and-up-1/4 medium-1/2">
                            <a href="@Url.Content("~/Content/images/")gallery/img1-large.jpg" class='border-gray display-block' title="A delicious photograph of food!">
                                <img src="@Url.Content("~/Content/images/")gallery/img13.jpg" alt="">
                            </a>
                        </div>
                        <div class="layout__item large-and-up-1/4 medium-1/2">
                            <a href="@Url.Content("~/Content/images/")gallery/img2-large.jpg" class='border-gray display-block' title="A delicious photograph of food!">
                                <img src="@Url.Content("~/Content/images/")gallery/img14.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <h2 class="h3 mb-">User Submitted Photos <span>(32)</span></h2>
                    <div class="layout mb pb- gallery">
                        <div class="layout__item large-and-up-1/4 medium-1/2">
                            <a href="@Url.Content("~/Content/images/")gallery/img1-large.jpg" class='border-gray display-block' title="A delicious photograph of food!">
                                <img src="@Url.Content("~/Content/images/")gallery/img11.jpg" alt="">
                            </a>
                        </div>
                        <div class="layout__item large-and-up-1/4 medium-1/2">
                            <a href="@Url.Content("~/Content/images/")gallery/img2-large.jpg" class='border-gray display-block' title="A delicious photograph of food!">
                                <img src="@Url.Content("~/Content/images/")gallery/img12.jpg" alt="">
                            </a>
                        </div>
                        <div class="layout__item large-and-up-1/4 medium-1/2">
                            <a href="@Url.Content("~/Content/images/")gallery/img1-large.jpg" class='border-gray display-block' title="A delicious photograph of food!">
                                <img src="@Url.Content("~/Content/images/")gallery/img13.jpg" alt="">
                            </a>
                        </div>
                        <div class="layout__item large-and-up-1/4 medium-1/2">
                            <a href="@Url.Content("~/Content/images/")gallery/img2-large.jpg" class='border-gray display-block' title="A delicious photograph of food!">
                                <img src="@Url.Content("~/Content/images/")gallery/img14.jpg" alt="">
                            </a>
                        </div>
                        <div class="layout__item large-and-up-1/4 medium-1/2">
                            <a href="@Url.Content("~/Content/images/")gallery/img1-large.jpg" class='border-gray display-block' title="A delicious photograph of food!">
                                <img src="@Url.Content("~/Content/images/")gallery/img11.jpg" alt="">
                            </a>
                        </div>
                        <div class="layout__item large-and-up-1/4 medium-1/2">
                            <a href="@Url.Content("~/Content/images/")gallery/img2-large.jpg" class='border-gray display-block' title="A delicious photograph of food!">
                                <img src="@Url.Content("~/Content/images/")gallery/img12.jpg" alt="">
                            </a>
                        </div>
                        <div class="layout__item large-and-up-1/4 medium-1/2">
                            <a href="@Url.Content("~/Content/images/")gallery/img1-large.jpg" class='border-gray display-block' title="A delicious photograph of food!">
                                <img src="@Url.Content("~/Content/images/")gallery/img13.jpg" alt="">
                            </a>
                        </div>
                        <div class="layout__item large-and-up-1/4 medium-1/2">
                            <a href="@Url.Content("~/Content/images/")gallery/img2-large.jpg" class='border-gray display-block' title="A delicious photograph of food!">
                                <img src="@Url.Content("~/Content/images/")gallery/img14.jpg" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </form>

    </div>

