@model SupperClub.Models.RegisterModel
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id="RegisterForm"}))
{
    <div class="pl-">
        <h1 class="type-light mb-">Register</h1>
        <p class="mb h6 semibold color-dark">Not a Grub Club member yet? Register your details below.</p>

        <div>
            <label>First Name</label>
            @Html.ValidationMessageFor(m => m.FirstName)
            @Html.EditorFor(m => m.FirstName, new { @class = "input input--large input--primary mb" })
        </div>
        <div>
            <label>Last Name</label>
            @Html.ValidationMessageFor(m => m.LastName)
            @Html.EditorFor(m => m.LastName, new { @class = "input input--large input--primary mb" })
        </div>
        <hr class="hr hr--dots mb">
        <div>
            <label>Your Email Address</label>
            @Html.ValidationMessageFor(m => m.Email)
            @Html.EditorFor(m => m.Email, new { @class = "input input--large input--primary mb" })
        </div>
        <div>
            <label>Confirm Your Email Address</label>
            @Html.ValidationMessageFor(m => m.ConfirmEmail)
            @Html.EditorFor(m => m.ConfirmEmail, new { @class = "input input--large input--primary mb" })
        </div>
        <hr class="hr hr--dots mb">
        <div>
            <label>Password</label>
            @Html.ValidationMessageFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "input input--large input--primary mb" })
        </div>
        <div>
            <label>Confirm Your Password</label>
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input input--large input--primary mb" })
        </div>
        <input type="submit" class="btn btn--primary btn--large btn--h54 large-and-up-float-right mb+" id="btnRegister" value="Register" />


    </div>
}