
<div class="container">
    <h2>CMS Pages</h2><br />
    <ul class="links-list">
        @*<li><a href="@Url.Action("CMSImages", "Admin")">CMS Images</a></li>*@
        <li><a href="@Url.Action("Home", "Admin")"><span style="color:orange;">Home Page</span></a></li>

        <li><a href="@Url.Action("Foodies", "Admin")"><span style="color:orange;">Foodies Page</span></a></li>

        <li><a href="@Url.Action("PopularGrubClubs", "Admin")"><span style="color:orange;">Popular GrubClubs</span></a></li>
        
        <li><a href="@Url.Action("HomeTest", "Admin")"><span style="color:orange;">Home Test Page</span></a></li>
    </ul>
</div>
