@model SupperClub.Models.LoginRegisterModel
@{
    ViewBag.Title = "Login ";
}
@section PageSpecificScripts {
<link rel="stylesheet" href="@Url.Content("~/Content/css/shortcodes.css")">
<script type="text/javascript">
    $(function () {
        
        $("#divForgotPwd").hide();

        $('#btnForgotPwd').click(function () {
            $("#divForgotPwd").show();
            $('#btnForgotPwd').hide();
            $('#txtfpEmail').val('');
            $("#lblfpStatus").empty();
            return false;
        });
        //$("#btnRegister").click(function (e) {
        //    e.preventDefault();
        //    ga('create', 'UA-36514914-1', 'auto', { 'alwaysSendReferrer': true });
        //    ga('send', 'event', { eventCategory: 'Customers', eventAction: 'Signups', eventLabel: 'Register Pop Up', eventValue: 1 });
        //    $("#RegisterForm").submit();
        //});
        $('#btnResetPwd').click(function () {
            $("#lblfpStatus").empty();
            var emailAddress = $('#txtfpEmail').val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("NewForgotPassword", "Account")',
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({ email: emailAddress }),
                success: function (response) {
                    if (!response.success) {
                        $("#lblfpStatus").css("color", "red");
                    }
                    else {
                        $("#lblfpStatus").css("color", "green");
                    }
                    $("#lblfpStatus").text(response.message);
                },
                error: function (response) {
                    $("#lblfpStatus").css("color", "red");
                    $("#lblfpStatus").text(response.message);
                }
            });
        });
    });
</script>
    }
<div class="magnific-content max-width-820 bgr-gray">

    <div class="layout">
        <div class="layout__item large-and-up-1/2">
            <div class="ph-">
                <h1 class="type-light h2 mb-">Login</h1>
                <p class="mb type-small semibold color-dark">Please log in to account to continue</p>
                @using (Html.BeginForm("newlogin", "account", new { returnUrl = Model.RedirectURL }, FormMethod.Post, new { id = "loginForm" }))
                {
                    <div class="pt-">
                        <div>
                            <label>Your Email Address</label>
                            @Html.ValidationMessageFor(m => m.LogOnModel.UserName)
                            @Html.EditorFor(m => m.LogOnModel.UserName, new { @class = "input input--large input--primary mb--" })
                        </div>


                        <div>
                            @Html.LabelFor(m => m.LogOnModel.Password)
                            @Html.ValidationMessageFor(m => m.LogOnModel.Password)
                            @Html.PasswordFor(m => m.LogOnModel.Password, new { @class = "input input--large input--primary mb-" })
                        </div>
                        <input type="submit" class="btn btn--primary btn--large btn--h54 large-and-up-float-right mb+" id="btnLogin" value="Login" />
                    </div>
                }
                <br />
                <br />
                <br />
                <div>
                    <a href="" id="btnForgotPwd">Forgot password</a>
                    <div id="divForgotPwd" class="ph-">
                        <div class="pt-">
                            <p class="mb type-small semibold color-dark"> Please enter your email address and we'll send you a new password.</p>
                            <label>Your Email Address</label>
                            <input type="text" id="txtfpEmail" class="input input--large input--primary mb--" />
                            <input type="button" class="btn btn--primary btn--large btn--h54 large-and-up-float-right mb+" id="btnResetPwd" value="Reset password" />
                            <br />
                            <br />
                            <br />
                            <br />
                            <label id="lblfpStatus"></label>
                        </div>
                    </div>
                </div>

         

            </div>
        </div>
    </div>
</div>
