


<div class="container" style="padding-top:15px !important;">
    <div class="layout">

        <aside class="layout__item large-and-up-1/4 medium-1/2">

            <ul class="list-bare nav-about mb">
                <li><a href="/host/welcome" class="TabHeader" id="tabTab1">HOME</a></li>
                <li><a href="javascript:void(0)" class="TabHeader is-active" id="fundamentalsTab" onclick="javascript: NewHostTabActive('fundamentals');">Working With Grub Club</a></li>
                <li><a href="javascript:void(0)" class="TabHeader" id="requirementsTab" onclick="javascript: NewHostTabActive('requirements');">What We List </a></li>
                <li><a href="javascript:void(0)" class="TabHeader" id="howtohostTab" onclick="javascript: NewHostTabActive('howtohost');">Setting up a Grub Club</a></li>
                <li><a href="javascript:void(0)" class="TabHeader" id="uploadingTab" onclick="javascript: NewHostTabActive('uploading');">Uploading onto Grub Club</a></li>
                @*<li><a href="#Tab5" class="TabMenu" id="tabTab6" onclick="javascript: NewHostTabActive('Tab6');">POSITIONING YOUR EVENT</a></li>*@

            </ul>


        </aside>
        <!-- Tabs Content -->
        <div class="layout__item large-and-up-3/4">
            <div class="tabs mb+" id="divfaq" style="display:none;"> Home </div>

                <div class="tabText" id="fundamentals">
                    <div class="accordion">

                        <article class='accordion--active'>

                            <h3>
                                What is a Grub Club?<span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>  Grub Clubs are exciting dining experiences which rival the traditional restaurant experience. Chefs put on nights of fun, social dining, connecting adventurous foodies together on communal tables to enjoy passionately prepared food, make new friends and get to know the chef who has crafted the evening.</p>
                            </div>
                        </article>
                        <article>

                            <h3>
                                Why should I set up a Grub Club? <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>
                                    Apart from being a lot of fun, Grub Clubs are your chance to meet new people, get to know your neighbours and earn some additional money.
                                    For professional chefs, Grub Clubs are a great way to put your skills in the limelight. They are a great stepping stone towards a more permanent food establishment or other foodie venture that takes your fancy, enabling you to build a following, learn who your customer is and prove your concept .
                                </p>
                            </div>
                        </article>
                        <article>
                            <h3>
                                Why work with Grub Club?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>
                                    Because we’re the best ticketing platform in town, of course! (And also because of the reasons below…)<br />
                                    ●	ADMIN – With guests being able to purchase tickets before attending events, you’re protected from the cost of no-shows and last minute cancellations. All dietary requirements are collected for you and refunds processed on your behalf meaning that you avoid a lot of the boring admin.<br />
                                    ●	FOODIE PLATFORM – Our platform is dedicated to foodie events which means lots of hungry eyes looking for events just like yours.<br />
                                    ●	MARKETING – We boost the marketing and PR efforts of our hosts, helping to drive sales through our own marketing efforts<br />
                                    ●	VENUES – Our hosts have held events in hundreds of cool venues across London so we know a bunch that we’ll happily recommend to you.<br />
                                    ●	OPPORTUNITIES – Lots of people want a piece of Grub Club so being one of our hosts means the possibility of getting involved in any exciting opportunities that come our way (private events, promotional events, e.t.c)<br />
                                </p>
                            </div>
                        </article>
                        <article>
                            <h3>
                                So, how do the fees work?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>
                                    There isn’t a fee to be listed on the Grub Club website or for any help we send your way (venue recommendations, e.t.c). We do take 10% of each ticket sold which amounts to a 3% bank transaction fee and 7% Grub Club commission.

                                    We transfer payment over to hosts after the event has happened to protect guests in case of any cancellations.  Funds are paid weekly so please ensure you’ve given us your correct banking details on your host profile and let us know if you need to change them.
                                </p>
                            </div>
                        </article>

                    </div>

                </div>
                <div class="tabText" id="requirements">
                    <div class="accordion">
                        <article>
                            <h3>
                                Do I need to be a professional chef to join?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>  Not at all! However, people who attend these events tend to be passionate foodies who know their saffron from their sumac. Therefore, it’s important that you’re a proficient cook with the experience required to cater for the number of people attending. Grub Clubs are more than restaurant experiences so it’s important that you’re also able to create a warm and friendly atmosphere through charming hosting!</p>
                            </div>
                        </article>
                        <article>
                            <h3>
                                What requirements do I need to host an event?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>In order to become one of our hosts, you must have a Level 2 Food Hygiene Certificate. You should also register with your local authority (see our “Setting up a Grub Club page"" for a few more details on this).  </p>
                            </div>
                        </article>
                        <article>
                            <h3>
                                Do you accept all events?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>
                                    We only accept events that will appeal to our customer base in terms of pricing, location, format, e.t.c.<br />
                                    Here's an example of a successful event: <a href="http://goo.gl/HGfmYh" target="_blank"> http://goo.gl/HGfmYh </a>. Events that work well are conveniently located with good transport links, reasonably priced (we recommend under £30 for first time hosts), are a minimum of 3-4 weeks away and have a clear USP (consider what makes your event unique).<br />

                                    Enticing event pages have good photos (of the food and venue), a descriptive menu and a lively event description which gives diners a glimpse into the event and explains more about your background.
                                </p>
                            </div>
                        </article>

                        <article>
                            <h3>
                                Do you only accept events in  London?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>
                                    Our main focus is currently on London, however, we love to support people regardless of location. if you are not in Central London, you are very welcome to use our platform but you will need to have a strong following and marketing plan in order to bring diners from your local area.
                                </p>
                            </div>
                        </article>

                        <article>
                            <h3>
                                Do you list longer-term residencies?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>We focus primarily on unique, one-off events. However, depending on the format of the event, it is possible if there is a set ticket price, set menu and communal tables. We don’t accept Grub Clubs running alongside restaurant-style pop-ups in the same venue because guests get upset that they are restricted to a set menu and ticket price when they could have just come anyway.   </p>
                            </div>
                        </article>

                        <article>
                            <h3>
                                Can I upload my cookery class, canape party, wine tasting, e.t.c?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>                     Most Grub Clubs are sit-down dinners, however, we welcome any proposals for something a little different! It is integral, however, that food is a large focus of the event and that guests will be full by the time they leave as this is what our followers will expect.   </p>
                            </div>
                        </article>

                        <article>
                            <h3>
                                Is there a min/max I can cook for?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>
                                    As Grub Clubs are meant to be social experiences, we’d recommend no less than 6 people at each event. In terms of a maximum, we’re happy to accept large-scale events as long as <br />
                                    a.) the seating is communal, <br /> b.) you have the skills, experience and team necessary to cater for that number of guests, <br /> c.) you’re confident being able to sell a large number of tickets.
                                </p>
                            </div>
                        </article>

                        <article>
                            <h3>
                                Can I list my event on other booking platforms?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>Yes, you can. We’d always recommend sticking to one booking platform (obviously we’d prefer it to be us!) as it makes the process a lot simpler and smoother for both the guests and for you. It also means that we can put forward a much more united marketing effort. However, if you’re adamant that you’d like to use multiple booking platforms, please just make sure that the end ticket price (including GC commission) is the same across the board as it’s a bad customer experience for guests to attend an event only to find that they could book for less elsewhere.  </p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tabText" id="howtohost">
                    <div class="accordion">
                        <article>
                            <h3>
                                What do I need to set up a Grub Club?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p> The time and skills to market your event, a friendly persona to charm your guests, top notch cooking skills to wow and the passion to commit yourself to some blood, sweat and tears (…and fun)! </p>
                            </div>
                        </article>
                        <article>
                            <h3>
                                What legalities do I need to consider?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>
                                    You must have at least  a Level 2 Food Hygiene Certificate.<br />
                                    If you are planning to host in your home, you must also speak to your local council about registering your premise for this purpose. Rules vary per Council, so just contact your local Council or Borough's Health and Safety officer to ensure you are compliant with local regulations.<br />
                                    We would always recommend not taking risks and making sure that you’re covered, as you are entirely responsible for all events you register on Grub Club. We therefore strongly advise you get public liability insurance (speak to the incredibly helpful Geoff from Caithness & Co +44 208 335 9920) to protect you in case of issues.
                                </p>
                            </div>
                        </article>
                        <article>
                            <h3>
                                Am I allowed to serve alcohol at my events?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p> You’re only allowed to sell alcohol at your event if you, or the premises you are hosting in, has an alcohol license. Otherwise, you will only be allowed to provide complementary drinks and guests will bring their own additional alcohol. </p>
                            </div>
                        </article>
                        <article>
                            <h3>
                                Where can I host my event?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p> You can choose to host your event at your own home or an external venue. If you need any help finding venues for your event, let us know and we’ll shoot over some recommendations. </p>
                            </div>
                        </article>
                        @*</div>
                            </div>
                            <div class="tabText" id="Tab6">
                                <div class="accordion">*@
                        <article>
                            <h3>
                                How should I price my event?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>
                                    When first starting out, it’s important to price your events modestly. London is chock-a-block with amazing events every night so any incentive you can give people to take the chance with you is great! We recommend a ticket price of around £25 for new hosts.
                                    Also, make sure to factor in whether the event is BYOB or not as this makes a BIG difference to guests.
                                </p>
                            </div>
                        </article>
                        <article>
                            <h3>
                                Is there a most popular day/time?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>
                                    We list events at any time of the day. However, dinner events are generally the most popular and we recommend holding events at no earlier than 7pm as otherwise this limits who can attend because of work commitments, e.t.c.
                                    Many people think of Saturday as the most popular day. However, we’ve found that if people really love the sound of an event, they’ll be excited to come whatever the day.
                                </p>
                            </div>
                        </article>
                        <article>
                            <h3>
                                How often shall I do events?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p> As often as you feel confident hosting and selling tickets for. Until you have an established following, we would recommend only putting up one event to start with and then adding future dates if and when the first date has sold out. By putting up multiple dates at the same time, you risk getting a small number of bookings spread over a number of dates. </p>
                            </div>
                        </article>
                        @*<article>
                                <h3>
                                    As often as you feel confident hosting and selling tickets for. Until you have an established following, we would recommend only putting up one event to start with and then adding future dates if and when the first date has sold out. By putting up multiple dates at the same time, you risk getting a small number of bookings spread over a number of dates.
                                    <span>
                                        <svg role="img" class="icon color-white">
                                            <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                        </svg>
                                    </span>
                                </h3>
                                <div>
                                    <p>
                                        Start off with making your event page a show stopper! Channel your inner wordsmith and be sure your event title is snappy and your event description is enticing. Amazing photos that get people drooling over their keyboards are essential as well. After your event, encourage people to leave reviews as these will give others the confidence to book future events.
                                        On-the-ground independent marketing is what really helps to sell tickets for your events. Make sure you’re spreading the word about your event through social media, blogs, leaflets, websites, anything you can think of!
                                    </p>
                                </div>
                            </article>
                        *@
                        <article>
                            <h3>
                                Any tips for being a successful host?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>
                                    It’s a good idea to attend other Grub Clubs to give you an idea about hosting. You could even offer to volunteer at one to see what happens behind the scenes.  Feel free to contact us if you want help reaching out to other Grub Clubs who will be happy for you to be part of the Club.<br />

                                    1.	Be Social <br />
                                    The social element of Grub Clubs is what makes the experience special! Make sure you’re encouraging a warm, chatty atmosphere by introducing yourself to guests, introducing guests to each other and generally making them feel welcome. Take time to step out of the kitchen and let your guests get to know you as this is what differentiates a Grub Club from a restaurant experience.<br />

                                    2.	Be Professional  <br />
                                    Your service before and after the event is very important too.  Be sure to respond to all of the guests’ comments quickly and meet all special requirements. As well as events being fun and social, it’s important that they run smoothly and professionally so make sure your menu is practiced and your timings are well thought out.<br />
                                    3.	Prepare the Space<br />
                                    The space you host in should be clean, uncluttered and welcoming, so guests can feel comfortable. Don’t forget you may be asked about toilets, potential smoking spaces and places to put coats or bags. Whether you’re hosting in your home or an external venue, try to make the space appear as special as possible with decorations and personalised place settings.<br />

                                    Anywhere I can read a little more?<br />
                                    There’s a tonne of places to read about pop-up restaurants and supperclubs. Here’s a few web pages in particular which might prove handy: <br />
                                    ● <a href="http://www.bighospitality.co.uk/Business/How-to-run-a-pop-up-restaurant" target="_blank"> http://www.bighospitality.co.uk/Business/How-to-run-a-pop-up-restaurant</a> <br />
                                    ● <a href="http://www.popup-restaurants.com/pop-up-restaurants-list-of-considerations.asp" target="_blank"> http:/www.popup-restaurants.com/pop-up-restaurants-list-of-considerations.asp </a><br />

                                    We’re always happy to help, so feel free to contact us with any more questions!
                                </p>
                            </div>
                        </article>
                        <article>
                            <h3>
                                Can you give me any further guidance?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p> Of course! Feel free to drop us a line if you’d like to discuss your proposal. We only accept events that we love so we’ll be sure to give honest feedback! </p>
                            </div>
                        </article>

                    </div>
                </div>
                <div class="tabText" id="uploading">
                    <div class="accordion">
                        <article>
                            <h3>
                                Do I need to reveal my address?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>Nope! Only the general area where your event is being held will be displayed online. Your address will only be revealed in the confirmation emails to your guests once they have booked.  </p>
                            </div>
                        </article>
                        <article>
                            <h3>
                                Can I change my event page after I’ve uploaded it?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>Yes, you can change most details aside from the date, time, location and name of the event. If you wish to change one of these, please get in touch with us.  </p>
                            </div>
                        </article>
                        <article>
                            <h3>
                                What do I do after I’ve uploaded my event?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>
                                    After you’ve uploaded your event and we’ve had a look over it to make sure that it’s all tickety-boo, we’ll approve the event and send you a link to your event page. From them on, it’s important to keep a close track of bookings. To do this, log into your account and go to ‘My Hosted Events’. On the event page, you can check the guestlist and see any special requirements that the guests may have.

                                    Prepare for any special requirements in advance, If you aren’t able to cater for these requirements, do let the guest (and us) know as soon as possible so we can cancel the booking and try to find you another guest.
                                </p>
                            </div>
                        </article>
                        <article>
                            <h3>
                                What happens if a guest cancels?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p> If the event is more than two weeks away, we will cancel the guest’s booking and give them a voucher to redeem at a future event. If the event is within two weeks, we will try to sell the guest’s seat and, if it can be sold, we will give the guests a voucher. </p>
                            </div>
                        </article>
                        <article>
                            <h3>
                                What happens if I need to cancel?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>

                            <div>
                                <p>As much as possible we prefer not to have cancellations as it’s no fun for the guests or for you. However, we know that things can crop up. If you need to cancel your event, inform your guests as soon as possible and let us know of any refunds we need to make.  </p>
                            </div>
                        </article>


                        <article>
                            <h3>
                                Sounds great! How do I get involved?
                                <span>
                                    <svg role="img" class="icon color-white">
                                        <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                    </svg>
                                </span>
                            </h3>
                            <div>
                                <p>
                                    Glad you’d like to jump on board! In order to join you will need to:<br />
                                    1.	Register your details on the site.<br />
                                    2. Set up an Event: Enter information about the specific event you are planning to set up, including date, menu, cuisine, price, e.t.c.<br />

                                    3. Complete your Grub Club host profile: This is what defines you as a host: your ethos, your skills, an overview of who you are and why you are starting to do Grub Clubs. Here, you can add photos of your cooking, links to your social profiles and your bank details."<br />
                                </p>
                            </div>
                        </article>
                    </div>
                </div>



            </div>
        </div>
    </div>


<script type="text/javascript">

    function NewHostTabActive(Tab) {

        $(".tabText").hide();
        var a = $("#" + Tab).show();

        $(a).show();
        //   $(Tab).css('display', 'block');

        $('.TabHeader').removeClass('is-active');
        //  $("#tab" + Tab).addClass('is-active');

        var b = "#" + Tab + "Tab";
        $(b).addClass('is-active');
     //   $(this).addClass('is-active');

     //   var pos = parseInt($("#divfaq").offset().top);

      //  $('html, body').scrollTop(parseInt(pos));

        setTimeout(function () { $('#divfaq').focus() }, 3000);
        return false;
    }


    $(document).ready(function () {


        $(".tabText").hide();
        NewHostTabActive("fundamentals");

        var _url = window.location.href;
        $(".TabHeader").each(function () {
            $(this).removeClass("is-active");
        });

        if (_url.toLowerCase().indexOf("fundamental") >= 0) {
            NewHostTabActive("fundamentals");
        }
        else if (_url.toLowerCase().indexOf("requirement") >= 0) {
            NewHostTabActive("requirements");
        }
        else if (_url.toLowerCase().indexOf("howtohostt") >= 0) {
            NewHostTabActive("howtohost");
        }
        else if (_url.toLowerCase().indexOf("uploadingg") >= 0) {
            NewHostTabActive("uploading");
        }



    });
</script>