@{
    ViewBag.Title = "How to start your own supper club";
    ViewBag.Description = "Looking to host your own supper club? From legalities to pricing and positioning, we go through our top tips for how to set up your own Grub Club.";
}

    <div class="container">
        <div class="layout">
         @Html.Partial("_HostFAQsLeftNavigation")
            <div class="layout__item large-and-up-3/4 medium-1/2 mt">
                <h2 class="h3 mb pb-">Setting up a Grub Club</h2>                   
                <div class="accordion">
                    <article>
                        <h3>
                            What do I need to set up a Grub Club?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p> The time and skills to market your event, a friendly persona to charm your guests, top notch cooking skills to wow and the passion to commit yourself to some blood, sweat and tears (…and fun)! </p>
                        </div>
                    </article>
                    <article>
                        <h3>
                            What legalities do I need to consider?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>
                                You must have at least a Level 2 Food Hygiene Certificate. You can obtain one  ( <a href="http://www.food-hygienecertificate.co.uk/level-2-courses.asp" target="_blank" class="text-underline"> here </a>)  <br />

                                If you are planning to host in your home, you must also speak to your local council about registering your premise for this purpose. Rules vary per Council, so just contact your local Council or Borough's Health and Safety officer to ensure you are compliant with local regulations. Further information  <a href="http://www.food.gov.uk/business-industry/startingup#.UEdrzLJlR54" target="_blank" class="text-underline"> HERE </a> . <br />

                                We would always recommend not taking risks and making sure that you’re covered, as you are entirely responsible for all events you register on Grub Club. We therefore strongly advise you get public liability insurance (speak to the incredibly helpful Geoff from Caithness & Co +44 208 335 9920) to protect you in case of issues. <br />
                            </p>
                        </div>
                    </article>
                    <article>
                        <h3>
                            Am I allowed to serve alcohol at my events?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p> You’re only allowed to sell alcohol at your event if you, or the premises you are hosting in, has an alcohol license. Otherwise, you will only be allowed to provide complementary drinks and guests will bring their own additional alcohol. </p>
                        </div>
                    </article>
                    <article>
                        <h3>
                            Where can I host my event?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p> You can choose to host your event at your own home or an external venue. If you need any help finding venues for your event, let us know and we’ll shoot over some recommendations. </p>
                        </div>
                    </article>
                    @*</div>
            </div>
            <div class="tabText" id="Tab6">
                <div class="accordion">*@
                    <article>
                        <h3>
                            How should I price my event?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>
                                When first starting out, it’s important to price your events modestly. London is chock-a-block with amazing events every night so any incentive you can give people to take the chance with you is great! We recommend a ticket price of around £25 for new hosts.
                                Also, make sure to factor in whether the event is BYOB or not as this makes a BIG difference to guests.
                            </p>
                        </div>
                    </article>
                    <article>
                        <h3>
                            Is there a most popular day/time?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>
                                We list events at any time of the day. However, dinner events are generally the most popular and we recommend holding events at no earlier than 7pm as otherwise this limits who can attend because of work commitments, e.t.c.
                                Many people think of Saturday as the most popular day. However, we’ve found that if people really love the sound of an event, they’ll be excited to come whatever the day.
                            </p>
                        </div>
                    </article>
                    <article>
                        <h3>
                            How often shall I do events?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p> As often as you feel confident hosting and selling tickets for. Until you have an established following, we would recommend only putting up one event to start with and then adding future dates if and when the first date has sold out. By putting up multiple dates at the same time, you risk getting a small number of bookings spread over a number of dates. </p>
                        </div>
                    </article>
                    @*<article>
                <h3>
                    As often as you feel confident hosting and selling tickets for. Until you have an established following, we would recommend only putting up one event to start with and then adding future dates if and when the first date has sold out. By putting up multiple dates at the same time, you risk getting a small number of bookings spread over a number of dates.
                    <span>
                        <svg role="img" class="icon color-white">
                            <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                        </svg>
                    </span>
                </h3>
                <div>
                    <p>
                        Start off with making your event page a show stopper! Channel your inner wordsmith and be sure your event title is snappy and your event description is enticing. Amazing photos that get people drooling over their keyboards are essential as well. After your event, encourage people to leave reviews as these will give others the confidence to book future events.
                        On-the-ground independent marketing is what really helps to sell tickets for your events. Make sure you’re spreading the word about your event through social media, blogs, leaflets, websites, anything you can think of!
                    </p>
                </div>
            </article>
                    *@
                    <article>
                        <h3>
                            Any tips for being a successful host?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>
                                It’s a good idea to attend other Grub Clubs to give you an idea about hosting. You could even offer to volunteer at one to see what happens behind the scenes.  Feel free to contact us if you want help reaching out to other Grub Clubs who will be happy for you to be part of the Club.<br />
                                <br />
                                <b>1.	Be Social</b> <br />
                                The social element of Grub Clubs is what makes the experience special! Make sure you’re encouraging a warm, chatty atmosphere by introducing yourself to guests, introducing guests to each other and generally making them feel welcome. Take time to step out of the kitchen and let your guests get to know you as this is what differentiates a Grub Club from a restaurant experience.<br />
                                <br />
                                <b>2.	Be Professional</b>  <br />
                                Your service before and after the event is very important too.  Be sure to respond to all of the guests’ comments quickly and meet all special requirements. As well as events being fun and social, it’s important that they run smoothly and professionally so make sure your menu is practiced and your timings are well thought out.<br />
                                <br /><b>3.	Prepare the Space</b><br />
                                The space you host in should be clean, uncluttered and welcoming, so guests can feel comfortable. Don’t forget you may be asked about toilets, potential smoking spaces and places to put coats or bags. Whether you’re hosting in your home or an external venue, try to make the space appear as special as possible with decorations and personalised place settings.<br />

                                <br /> Anywhere I can read a little more?<br />
                                There’s a tonne of places to read about pop-up restaurants and supperclubs. Here’s a few web pages in particular which might prove handy: <br />
                                ● <a href="http://www.bighospitality.co.uk/Business/How-to-run-a-pop-up-restaurant" target="_blank" class="color-orange"> http://www.bighospitality.co.uk/Business/How-to-run-a-pop-up-restaurant</a> <br />
                                ● <a href="http://www.popup-restaurants.com/pop-up-restaurants-list-of-considerations.asp" target="_blank" class="color-orange"> http:/www.popup-restaurants.com/pop-up-restaurants-list-of-considerations.asp </a><br />
                                ● <a href="http://www.dailymail.co.uk/femail/food/article-3153290/The-secret-throwing-perfect-dinner-party-revealed.html#comments" target="_blank" class="color-orange"> http://www.dailymail.co.uk/femail/food/article-3153290/The-secret-throwing-perfect-dinner-party-revealed.html#comments </a><br />
                                <br />We’re always happy to help, so feel free to contact us with any more questions!
                            </p>
                        </div>
                    </article>
                    <article>
                        <h3>
                            Can you give me any further guidance?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p> Of course! Feel free to drop us a line if you’d like to discuss your proposal. We only accept events that we love so we’ll be sure to give honest feedback! </p>
                        </div>
                    </article>

                </div>            
            </div>
        </div>
    </div>


