@{
    ViewBag.Title = "Why work with Grub Club";
    ViewBag.Description = "Join our supportive community of hosts by setting up your supper club with Grub Club. Find out more information about the help we can give, including admin, marketing, planning and more!";
}

    <div class="container">
        <div class="layout">
         @Html.Partial("_HostFAQsLeftNavigation")
            <div class="layout__item large-and-up-3/4 medium-1/2 mt">
                <h2 class="h3 mb pb-">Uploading onto Grub Club</h2>                   
                <div class="accordion">
                    <article>
                        <h3>
                            Do I need to reveal my address?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>Nope! Only the general area where your event is being held will be displayed online. Your address will only be revealed in the confirmation emails to your guests once they have booked.  </p>
                        </div>
                    </article>
                    <article>
                        <h3>
                            Can I change my event page after I’ve uploaded it?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>Yes, you can change most details aside from the date, time, location and name of the event. If you wish to change one of these, please get in touch with us.  </p>
                        </div>
                    </article>
                    <article>
                        <h3>
                            What do I do after I’ve uploaded my event?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>
                                After you’ve uploaded your event and we’ve had a look over it to make sure that it’s all tickety-boo, we’ll approve the event and send you a link to your event page. From them on, it’s important to keep a close track of bookings. To do this, log into your account and go to ‘My Hosted Events’. On the event page, you can check the guestlist and see any special requirements that the guests may have.

                                Prepare for any special requirements in advance, If you aren’t able to cater for these requirements, do let the guest (and us) know as soon as possible so we can cancel the booking and try to find you another guest.
                            </p>
                        </div>
                    </article>
                    <article>
                        <h3>
                            What happens if a guest cancels?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p> If the event is more than two weeks away, we will cancel the guest’s booking and give them a voucher to redeem at a future event. If the event is within two weeks, we will try to sell the guest’s seat and, if it can be sold, we will give the guests a voucher. </p>
                        </div>
                    </article>
                    <article>
                        <h3>
                            What happens if I need to cancel?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>

                        <div>
                            <p>As much as possible we prefer not to have cancellations as it’s no fun for the guests or for you. However, we know that things can crop up. If you need to cancel your event, inform your guests as soon as possible and let us know of any refunds we need to make.  </p>
                        </div>
                    </article>


                    <article>
                        <h3>
                            Sounds great! How do I get involved?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>
                                Glad you’d like to jump on board! In order to join you will need to:<br />
                                <b>1.	Register</b> your details on the site.<br />
                                <b>2.	Create your Grub Club host profile:</b>This is what defines you as a host: your ethos, your skills, an overview of who you are and why you are starting to do Grub Clubs. Here, you can add photos of your cooking, links to your social profiles and your bank details.<br />
                                <b>3.	Set up an Event: </b>Enter information about the specific event you are planning to set up, including date, menu, cuisine, price, e.t.c.
</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>


