@{
    ViewBag.Title = "What is listed on Grub Club";
    ViewBag.Description = "Grub Club is a platform for pop-up restaurants and supper clubs across London. From capacity to location, find out more about the requirements of listing your supper club on Grub Club.";
}

    <div class="container">
        <div class="layout">
         @Html.Partial("_HostFAQsLeftNavigation")
            <div class="layout__item large-and-up-3/4 medium-1/2 mt">
                <h2 class="h3 mb pb-">What We List</h2>
                   
                <div class="accordion">
                    <article>
                        <h3>
                            Do I need to be a professional chef to join?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>  Not at all! However, people who attend these events tend to be passionate foodies who know their saffron from their sumac. Therefore, it’s important that you’re a proficient cook with the experience required to cater for the number of people attending. Grub Clubs are more than restaurant experiences so it’s important that you’re also able to create a warm and friendly atmosphere through charming hosting!</p>
                        </div>
                    </article>
                    <article>
                        <h3>
                            What requirements do I need to host an event?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>In order to become one of our hosts, you must have a Level 2 Food Hygiene Certificate. You should also register with your local authority (see our “Setting up a Grub Club page for a few more details on this).  </p>
                        </div>
                    </article>
                    <article>
                        <h3>
                            Do you accept all events?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>
                                We only accept events that will appeal to our customer base in terms of pricing, location, format, e.t.c.<br />
                                Here's an example of a successful event: <a href="http://goo.gl/HGfmYh" target="_blank"> http://goo.gl/HGfmYh </a>. Events that work well are conveniently located with good transport links, reasonably priced (we recommend under £30 for first time hosts), are a minimum of 3-4 weeks away and have a clear USP (consider what makes your event unique).<br />

                                Enticing event pages have good photos (of the food and venue), a descriptive menu and a lively event description which gives diners a glimpse into the event and explains more about your background.
                            </p>
                        </div>
                    </article>

                    <article>
                        <h3>
                            Do you only accept events in  London?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>
                                Our main focus is currently on London, however, we love to support people regardless of location. if you are not in Central London, you are very welcome to use our platform but you will need to have a strong following and marketing plan in order to bring diners from your local area.
                            </p>
                        </div>
                    </article>

                    <article>
                        <h3>
                            Do you list longer-term residencies?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>We focus primarily on unique, one-off events. However, depending on the format of the event, it is possible if there is a set ticket price, set menu and communal tables. We don’t accept Grub Clubs running alongside restaurant-style pop-ups in the same venue because guests get upset that they are restricted to a set menu and ticket price when they could have just come anyway.   </p>
                        </div>
                    </article>

                    <article>
                        <h3>
                            Can I upload my cookery class, canape party, wine tasting, e.t.c?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>                     Most Grub Clubs are sit-down dinners, however, we welcome any proposals for something a little different! It is integral, however, that food is a large focus of the event and that guests will be full by the time they leave as this is what our followers will expect.   </p>
                        </div>
                    </article>

                    <article>
                        <h3>
                            Is there a min/max I can cook for?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>
                                As Grub Clubs are meant to be social experiences, we’d recommend no less than 6 people at each event. In terms of a maximum, we’re happy to accept large-scale events as long as <br />
                                1. The seating is <b>communal</b> <br /> 2. You have the <b>skills, experience and team</b> necessary to cater for that number of guests <br /> 3. You’re confident being able to <b>sell a large number of tickets.</b>
                            </p>
                        </div>
                    </article>

                    <article>
                        <h3>
                            Can I list my event on other booking platforms?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>Yes, you can. We’d always recommend sticking to one booking platform (obviously we’d prefer it to be us!) as it makes the process a lot simpler and smoother for both the guests and for you. It also means that we can put forward a much more united marketing effort. However, if you’re adamant that you’d like to use multiple booking platforms, please just make sure that the end ticket price (including GC commission) is the same across the board as it’s a bad customer experience for guests to attend an event only to find that they could book for less elsewhere.  </p>
                        </div>
                    </article>
                </div>
                
            </div>
        </div>
    </div>


