@{
    ViewBag.Title = "Why work with Grub Club";
    ViewBag.Description = "Join our supportive community of hosts by setting up your supper club with Grub Club. Find out more information about the help we can give, including admin, marketing, planning and more!";
}

    <div class="container">
        <div class="layout">
         @Html.Partial("_HostFAQsLeftNavigation")
            <div class="layout__item large-and-up-3/4 medium-1/2 mt">
                <h2 class="h3 mb pb-">Working With Grub Club</h2>                   
                <div class="accordion">
                    <article class='accordion--active'>

                        <h3>
                            What is a Grub Club?<span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>  Grub Clubs are exciting dining experiences which rival the traditional restaurant experience. Chefs put on nights of fun, social dining, connecting adventurous foodies together on communal tables to enjoy passionately prepared food, make new friends and get to know the chef who has crafted the evening.</p>
                        </div>
                    </article>
                    <article>

                        <h3>
                            Why should I set up a Grub Club? <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>
                                Apart from being a lot of fun, Grub Clubs are your chance to meet new people, get to know your neighbours and earn some additional money.
                                For professional chefs, Grub Clubs are a great way to put your skills in the limelight. They are a great stepping stone towards a more permanent food establishment or other foodie venture that takes your fancy, enabling you to build a following, learn who your customer is and prove your concept .
                            </p>
                        </div>
                    </article>
                    <article>
                        <h3>
                            Why work with Grub Club?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>
                                Because we’re the best ticketing platform in town, of course! (And also because of the reasons below…)<br />
                                <b>●	ADMIN – </b>With guests being able to purchase tickets before attending events, you’re protected from the cost of no-shows and last minute cancellations. All dietary requirements are collected for you and refunds processed on your behalf meaning that you avoid a lot of the boring admin.<br />
                                <b>●	FOODIE PLATFORM – </b>Our platform is dedicated to foodie events which means lots of hungry eyes looking for events just like yours.<br />
                                <b>●	MARKETING – </b>We boost the marketing and PR efforts of our hosts, helping to drive sales through our own marketing efforts<br />
                                <b>●	VENUES – </b>Our hosts have held events in hundreds of cool venues across London so we know a bunch that we’ll happily recommend to you.<br />
                                <b>●	OPPORTUNITIES – </b>Lots of people want a piece of Grub Club so being one of our hosts means the possibility of getting involved in any exciting opportunities that come our way (private events, promotional events, e.t.c)<br />
</p>
                        </div>
                    </article>
                    <article>
                        <h3>
                            So, how do the fees work?
                            <span>
                                <svg role="img" class="icon color-white">
                                    <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                                </svg>
                            </span>
                        </h3>
                        <div>
                            <p>
                                There isn’t a fee to be listed on the Grub Club website or for any help we send your way (venue recommendations, e.t.c). We do take 10% of each ticket sold which amounts to a 3% bank transaction fee and 7% Grub Club commission.

                                We transfer payment over to hosts after the event has happened to protect guests in case of any cancellations.  Funds are paid weekly so please ensure you’ve given us your correct banking details on your host profile and let us know if you need to change them.
                            </p>
                        </div>
                    </article>
                </div>                
            </div>
        </div>
    </div>


