@model SupperClub.Models.AllSupperClubsModel

@{
    ViewBag.Title = "All Grub Clubs";
}

@section PageSpecificScripts {
<script type="text/javascript">
    function LockSupperClub(supperClubId, rowId) {
        $.getJSON('@Url.Action("LockSupperClub", "Admin")', { supperClubId: supperClubId }, function (newState) {
            if (newState == null) {
                alert("There was a problem (de)activating this Grub Club, please try again");
            }
            else {
                $("#locked_" + rowId).text(newState);
            }
        });
    }
</script>
}

<!--  Page Title -->
<div class="container pattern-design2">
    <div class="container">
        <p>@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() / @ViewBag.Title</p>
    </div>	
</div>
<!-- Page Title End -->

@if (ViewBag.Notification != null || TempData["Notification"] != null)
{
    SupperClub.Models.NotificationModel nModel = (ViewBag.Notification == null) ? (SupperClub.Models.NotificationModel)TempData["Notification"] : (SupperClub.Models.NotificationModel)ViewBag.Notification;
    TempData["Notification"] = null;
    @Html.Partial("_Notification", nModel);
}
@if (ViewBag.HideMainContainer == null || ViewBag.HideMainContainer == false)
{
    <div class="container">
        <div class="sixteen columns">
            <h4 class="headline">Grub Club Table</h4>
                <table class="standard-table">
				    <tr>
					    <!--<th>Unique Id</th>-->
                        <th style="width:20%;">Name</th>
                        <th style="width:20%;">Owner Email</th>
                        <th style="width:10%;">Total Events</th>
                        <th style="width:10%;">Future Events</th>
                        <th style="width:10%;">Active</th>
                        <th style="width:20%;">Status</th>


				    </tr>

                    @for(int i = 0 ; i <= Model.AllSupperClubs.Count - 1 ; i++)
                    {
                        SupperClub.Domain.SupperClub u = Model.AllSupperClubs[i];
  				        <tr>
					        <!--<td>@u.Id</td>-->
					        <td><a href="@Url.Action("DetailsByName", "Host", new { hostname = u.UrlFriendlyName })">@u.Name</a></td>
                            <td>@u.User.Email</td>
					        <td>@u.Events.Count.ToString()</td>
                            <td>@u.FutureEvents.Count.ToString()</td>
					        <td><a href="#" id="@("locked_" + i.ToString())" onclick="LockSupperClub(@u.Id, @i);">@u.Active.ToString().ToLower()</a></td>
                              <td>@{
                                  string strStatus="--";
                              }
                                  @if (u.Status == 1)
                                  {
                                      @SupperClub.Domain.SupperClubStatus.Pro.ToString();
                                  }
                                  else if (@u.Status == 2)
                                  {
                                      @SupperClub.Domain.SupperClubStatus.Amateur.ToString();
                                  }
                                  else if(@u.Status == 3)
                                  {
                                      @SupperClub.Domain.SupperClubStatus.DontKnow.ToString();
                                  }
                                  else
                                  {
                                     @strStatus
                                  }

                          </td>

				        </tr>
                    }
                </table>
        </div>
    </div>
}