@model SupperClub.Domain.ProfileTag

@{
    ViewBag.Title = "Edit Profile Tag";
}
@section PageSpecificScripts {
    <script type="text/javascript">
         $(document).ready(function () {
             $("#EditTagForm").submit(function () {
                $("#EditTagForm").validate();
             });
             $("#TagsDL").change(function () {
                 var selectedTag = parseInt($("#TagsDL option:selected").val());
                 debugger;
                 $("#Id").val(selectedTag);
                 if (selectedTag > 0) {
                     $.ajax({
                         
                         url: '@Url.Action("GetProfileTag", "Admin")',
                         type: "GET",
                         data: {tagId: selectedTag},
                         success: function (_tag) {
                             debugger;
                             //alert(_tag.Private);
                             $("#Name").val(_tag.Name);
                             $("#Private").val(_tag.Private);
                             $("#TargetUser").val(_tag.TargetUser);
                             
                             if (_tag.Private == true)
                                 $("#rdPrivate").attr('checked', true);
                             else
                                 $("#rdPublic").attr('checked', true);
                             if (_tag.TargetUser == 1)
                                 $("#rdAdmin").attr('checked', true);
                             else
                                 $("#rdHost").attr('checked', true);
                         },
                         error: function () {
                             alert("Failed to get tag details.");
                         }
                     });
                 }
             });

             $("input[type='radio'][name='TagType']").change(function () {
                 debugger;
                 if ($(this).val() == "0")

                     $("#MainContainer").show();
                 else
                     window.location = '@Url.Action("EditProfileTag", "Admin")';

             });

             $("input[type='radio'][name='TagUser']").change(function () {


                 $("#TargetUser").val($(this).val())


             });

             $("input[type='radio'][name='TagPrivate']").change(function () {
                 
                 if ($(this).val() == 1) {
                     $("#Private").attr('checked', true);
                     $("#Private").val(true);

                 }
                 else {
                     $("#Private").removeAttr('checked');
                     $("#Private").val(false);
                 }

          
             });
         });
         
    </script>
}
<!--  Page Title -->
<div class="container pattern-design2">
    <div class="container">
        <p>@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() / @ViewBag.Title</p>
    </div>
</div>
<!-- Page Title End -->
@if (ViewBag.Notification != null || TempData["Notification"] != null)
{
    SupperClub.Models.NotificationModel nModel = (ViewBag.Notification == null) ? (SupperClub.Models.NotificationModel)TempData["Notification"] : (SupperClub.Models.NotificationModel)ViewBag.Notification;
    TempData["Notification"] = null;
    @Html.Partial("_Notification", nModel);
}



<div class="container" id="MainContainer" style="display:block;">
    <div class="sixteen columns">
        <h4 class="headline">Edit your tag here</h4>
        @using (Html.BeginForm("EditProfileTag", "Admin", FormMethod.Post, new { id = "EditTagForm", enctype = "multipart/form-data" }))
        {
            <div class="field">
                @Html.DropDownList("TagsDL", (SelectList)ViewBag.Tags, "- Select Tag -", new { @class = "custom_select" })
            </div>
            @Html.HiddenFor(m => m.Id)
          
            <div class="field">
                <label>Tag name</label>
                @Html.ValidationMessageFor(m => m.Name)
                @Html.EditorFor(m => m.Name)
            </div>
      
            <div class="field">
                <label>Tag Visibility</label>
                @Html.ValidationMessageFor(m => m.Private)
                
                <div style="display:none;">
                   
                    @Html.EditorFor(m => m.Private)
                </div>
               
                    <input type="radio" id="rdPrivate" name="TagPrivate" value="1">Private

                    <input type="radio" name="TagPrivate" id="rdPublic" value="0">Public
                    
               



            </div>
            <div class="field">
                <label>
                    Target User<label>
                        @Html.ValidationMessageFor(m => m.TargetUser)
                        @Html.HiddenFor(m => m.TargetUser)

                       

                            <input type="radio" id="rdAdmin" name="TagUser" value="1" >Admin
                           

                            <input type="radio" id="rdHost" name="TagUser" value="2">Host
                            
                      




            </div>
            <input type="submit" value="Update Tag" class="button small green" />
        }
    </div>
</div>