@model SupperClub.Models.ForgotPasswordModel

@{
    ViewBag.Title = "User Account Role Information";
}

@section PageSpecificScripts {
    <script src="@Url.Content("~/Scripts/old/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/old/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnAddRole").click(function () {
            debugger;
            $("#btnAddRole").prop("disabled", true);
            var email = $("#EmailAddress").val();
            //alert(email);
            $.ajax({
                type: "GET",
                url: '@Url.Action("AddHostRole", "Admin")',
                contentType: "application/json",
                dataType: "json",
                data: { email: email },
                success: function (success) {
                    if (success) {
                        alert("Host privilege added successfully to the account.")
                    }
                    else { alert("Sorry, some error occured while processing your request. Please try again!"); }
                },
                error: function (success) {
                    alert("Sorry, some error occured while processing your request. Please try again!");
                }
            });
            $("#btnAddRole").prop("disabled", false);
        });
    });
</script>
}

<!--  Page Title -->
<div class="container pattern-design2">
    <div class="container">
        <p>@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() / @ViewBag.Title</p>
    </div>	
</div>
<!-- Page Title End -->

<!-- 960 Container Start -->
<div class="container" style="min-height: 320px;">
    @using (Html.BeginForm())
    {
    <div class="eight columns">
        <p>Enter the user's email address below to view their current account privilege status</p>
        @if (ViewBag.Notification != null)
        {
            @Html.Partial("_Notification", (SupperClub.Models.NotificationModel)ViewBag.Notification);
        }
        @if (ViewBag.HideMainContainer == null || ViewBag.HideMainContainer == false)
        {
            <div class="field">
                @Html.LabelFor(m => m.EmailAddress)
                @Html.ValidationMessageFor(m => m.EmailAddress)
                @Html.TextBoxFor(m => m.EmailAddress)
            </div>
            <input type="submit" value="Check Current Status" class="button medium yellow" style="" />
            if (ViewBag.currentStatus != null)
            {
                <br/>
                <span>Current privileges assigned to this account: <strong>@ViewBag.currentStatus</strong></span>
            }
            if (ViewBag.incompleteHostProfile != null && ViewBag.incompleteHostProfile && ViewBag.IsHost != null && !ViewBag.IsHost && ViewBag.currentStatus != null && ViewBag.currentStatus != "Account does not exist")
            {
                <br/> <br/>
                <span style="color:red;">Problems detected with the host account creation!</span>
            }
            if (ViewBag.IsHost != null && !ViewBag.IsHost && ViewBag.incompleteHostProfile != null && ViewBag.incompleteHostProfile && ViewBag.currentStatus != null && ViewBag.currentStatus != "Account does not exist")
            {
                <input type="button" id="btnAddRole" value = "Fix host profile" class="button medium yellow" style="" />
            }
        }
    </div>
    }
</div>
<!-- 960 Container End -->