<div class="container">

    <h1 class="type-light mb">Information</h1>
    <div class="layout">      
        <div class="layout__item large-and-up-3/4">
            <div class="accordion">
                <article class='accordion--active'>
                    <h3>
                        What if I need to cancel my booking? <span>
                            <svg role="img" class="icon color-white">
                                <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                            </svg>
                        </span>
                    </h3>
                    <div>

                        <p>Our supper clubs are carefully planed around the number of guests booked in, therefore a cancellation will have a big impact on the host as not only does this impact the host’s preparation for the evening but another party has lost out on a place and there will be an empty space at the grub club.</p>

                        <p>If you wish to cancel, please contact Grub Club as soon as possible to let us know that you wish to cancel. If your cancellation request is approved, you will get a voucher to the total cost of the ticket you purchased.</p>

                        <p>If the grub club that you were attending is more than two weeks away from the day that you cancel, we will process the cancellation and issue you a voucher for the total cost of the ticket you purchased.</p>

                        <p>If the grub club that you were attending is less than two weeks away from the day that you cancel, we will attempt to resell your ticket and only if/once the tickets are resold, will we be able to issue a voucher.</p>

                        <p>If your ticket is not sold, we, unfortunately, cannot offer you a refund of any kind. We cannot guarantee that we will be able to resell your ticket though we will do our very best: we are always sad to see a diner next to an empty seat.</p>

                        <p>An alternative option to cancelling your ticket is to transfer your ticket to a family member or friend. To transfer your ticket you will need to make sure that the person you are transferring the ticket to has the ‘Booking Reference’ that you were emailed at purchase with them on the night. The ‘Booking Reference’ needs to be printed.</p>
                    </div>
                </article>
                <article>
                    <h3>
                        How do I join Grub Club? <span>
                            <svg role="img" class="icon color-white">
                                <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                            </svg>
                        </span>
                    </h3>
                    <div>
                        <p>Joining Grub Club is free and easy: just Connect with Facebook or fill out our Registration Form. Easy peasy! </p>
                    </div>
                </article>
                <article>
                    <h3>
                        Is there any cost to sign up?<span>
                            <svg role="img" class="icon color-white">
                                <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                            </svg>
                        </span>
                    </h3>
                    <div>
                        <p>There are absolutely no sign up costs or any monthly fees. You only pay for the Grub Clubs that you want to attend.</p>
                    </div>
                </article>
                <article>
                    <h3>
                        How do I book / make a reservation? <span>
                            <svg role="img" class="icon color-white">
                                <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                            </svg>
                        </span>
                    </h3>
                    <div>

                        <p>Simply search through our listings, choose the Grub Club that screams 'book me!' Simply fill in your details, then pay online and you’ll receive an email to confirm your place. </p>
                    </div>
                </article>
                <article>
                    <h3>
                        How do I pay? <span>
                            <svg role="img" class="icon color-white">
                                <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                            </svg>
                        </span>
                    </h3>
                    <div>
                        <p>You can pay by credit card / debit card online. If you have any issues, please do contact us and we’ll be more than happy to help. </p>
                    </div>
                </article>
                
                <article>
                    <h3>
                        Can I leave reviews on the Grub Clubs I attend? <span>
                            <svg role="img" class="icon color-white">
                                <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                            </svg>
                        </span>
                    </h3>
                    <div>
                        <p>
                            Of course, we actually encourage it! Grub Club is a community of food lovers

                            and passionate chefs, and reviews help not just others, but also yourself find

                            the best Chefs on the site.
                        </p>
                    </div>
                </article>
                <article>
                    <h3>
                        What time does a Grub Club usually take place?<span>
                            <svg role="img" class="icon color-white">
                                <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                            </svg>
                        </span>
                    </h3>
                    <div>
                        <p>
                            The date and time are up to the Hosts and will be posted on the event page;

                            make sure the time fits in with your schedule before booking, as it would be

                            very difficult to cancel a confirmed place.
                        </p>
                    </div>
                </article>
                <article>
                    <h3>
                        What happens on the day of the Grub Club? <span>
                            <svg role="img" class="icon color-white">
                                <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                            </svg>
                        </span>
                    </h3>
                    <div>
                        <p>
                            After booking, you will receive an email to confirm your place and with more

                            information about the event (i.e. the location/ what time to arrive).

                            When arriving at the Grub Club, show the host your unique booking reference,

                            then you will have some time to socialise before the event. After everyone has

                            had the chance to mingle, the courses will begin, so just sit back and enjoy.
                        </p>
                    </div>
                </article>
                <article>
                    <h3>
                        How do I find out about the location? <span>
                            <svg role="img" class="icon color-white">
                                <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                            </svg>
                        </span>
                    </h3>
                    <div>
                        <p>
                            On every Grub Club event page, you will be given a rough idea of where the

                            event will take place. Once booked, you will receive an email before the

                            event, giving you the exact location (address and map will be provided) of the

                            Grub Club you’re attending.
                        </p>
                    </div>
                </article>
                <article>
                    <h3>
                        Who else will be there? <span>
                            <svg role="img" class="icon color-white">
                                <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                            </svg>
                        </span>
                    </h3>
                    <div>
                        <p>
                            Grub Clubs can include anywhere between 4 and 100 people. Everyone has

                            chosen the specific night to sign up to, so will have the same interests in the

                            night as you.
                        </p>
                    </div>
                </article>
                <article>
                    <h3>
                        Can I bring my own alcohol? <span>
                            <svg role="img" class="icon color-white">
                                <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                            </svg>
                        </span>
                    </h3>
                    <div>
                        <p>
                            This will be indicated in the description of the Grub Club you attend. Some

                            hosts cook in their own houses or venues that don’t tend to have a liquor

                            licence, in this case you can bring your own alcohol.
                        </p>
                        <p>
                            In other cases the event might be in a venue which has a licence and you can

                            buy alcohol from them on the night.
                        </p>
                    </div>
                </article>

                <article>
                    <h3>
                        Is there a dress code? <span>
                            <svg role="img" class="icon color-white">
                                <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                            </svg>
                        </span>
                    </h3>
                    <div>
                        <p>
                            Unless specified on the page of the specific Grub Club, people usually dress

                            casually. However, there might be some themed events where you will have

                            the chance to dress up.
                        </p>
                    </div>
                </article>

                <article>
                    <h3>
                        Can I come on my own? <span>
                            <svg role="img" class="icon color-white">
                                <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                            </svg>
                        </span>
                    </h3>
                    <div>
                        <p>
                            Absolutely! People sign up to Grub Clubs because they love both food and

                            socialising, they have a warm atmosphere and the chefs are always

                            welcoming regardless of who you arrive with.
                        </p>
                    </div>
                </article>

                <article>
                    <h3>
                        Can I smoke?<span>
                            <svg role="img" class="icon color-white">
                                <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                            </svg>
                        </span>
                    </h3>
                    <div>
                        <p>
                            It varies from venue to venue, make sure you ask you host on the night!
                        </p>
                    </div>
                </article>

                <article>
                    <h3>
                        How do I know if there are newly added events? <span>
                            <svg role="img" class="icon color-white">
                                <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                            </svg>
                        </span>
                    </h3>
                    <div>
                        <p>
                            You can subscribe to our mailing list, search directly on Grub Club or follow us

                            on Facebook or Twitter to see the latest updates.
                        </p>
                    </div>
                </article>

                <article>
                    <h3>
                        Can I book a private dinner party of birthday? <span>
                            <svg role="img" class="icon color-white">
                                <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                            </svg>
                        </span>
                    </h3>
                    <div>
                        <p>
                            Most definitely! Contact us and we can make every effort to arrange it for you.

                            Please provide us with the group size, price range, area and cuisine you are

                            looking for or any special requirements so we can get an indication of your

                            preferences.
                        </p>
                    </div>
                </article>


                <article>
                    <h3>
                        What sort of cuisine is it?<span>
                            <svg role="img" class="icon color-white">
                                <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                            </svg>
                        </span>
                    </h3>
                    <div>
                        <p>
                            All sorts! Food from all around the world can be found on our site! Our

                            passionate chefs hail from all different background, so there really is wide

                            variety available!
                        </p>
                    </div>
                </article>

                <article>
                    <h3>
                        Who cooks the food? <span>
                            <svg role="img" class="icon color-white">
                                <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                            </svg>
                        </span>
                    </h3>
                    <div>
                        <p>
                            Chefs with a passion to bring you the best cuisine available! Grub Clubs are a

                            real labour of love, and this is something that really comes out in the food!
                        </p>
                    </div>
                </article>

                <article>
                    <h3>
                        What if I have specific dietary requirements? <span>
                            <svg role="img" class="icon color-white">
                                <use xlink:href="@Url.Content("~/Content/images/")icons.svg#icon-arrow_12x22"></use>
                            </svg>
                        </span>
                    </h3>
                    <div>
                        <p>
                            Please make sure you make any dietary requirements i.e. vegetarian,

                            allergies, etc. known to your chef before you book. Failure to do so means the

                            host may not be able to provide for you, as they needs to prepare everything

                            in advance.
                        </p>
                    </div>
                </article>


            </div>
        </div>
    </div>

</div>

